n8n-workflows/email-verification-subwf.json
{
  "updatedAt": "2026-02-24T22:33:32.317Z",
  "createdAt": "2026-02-23T20:44:18.708Z",
  "id": "Aov5PfwmBDv51L0e",
  "name": "email-verification",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "inputDataMode": "acceptAll"
      },
      "id": "wfev-n01",
      "name": "Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        0,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://cycapkswtucbucyegdsn.supabase.co/rest/v1/rpc/check_email_cache",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "SUPABASE_SERVICE_ROLE_KEY_PLACEHOLDER"
            },
            {
              "name": "Authorization",
              "value": "Bearer SUPABASE_SERVICE_ROLE_KEY_PLACEHOLDER"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ p_email: $json.email_address }) }}",
        "options": {
          "timeout": 10000,
          "neverError": true
        }
      },
      "id": "wfev-n02",
      "name": "Check Cache",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const row = $input.item.json;\n// Use .item (not .first()) to get the current item's trigger data\nconst email = $('Trigger').item.json.email_address;\nreturn { json: {\n  cache_hit: row.cache_hit === true,\n  email: email,\n  email_address: email,\n  cached_result: row.cache_hit ? row : null\n}};"
      },
      "id": "wfev-n03",
      "name": "Parse Cache",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {},
          "conditions": [
            {
              "id": "cache-hit-check",
              "leftValue": "={{ $json.cache_hit }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "wfev-n04",
      "name": "IF Cache Hit",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        720,
        300
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const { email, cached_result: c } = $input.item.json;\nconst score = [c.is_valid, !c.is_disposable, (c.mx_records||[]).length>0,\n               c.smtp_result==='valid', !c.is_catch_all]\n               .filter(Boolean).length * 20;\nreturn { json: {\n  email, is_valid: c.is_valid, is_disposable: c.is_disposable,\n  is_catch_all: c.is_catch_all, has_mx: (c.mx_records||[]).length > 0,\n  smtp_result: c.smtp_result, confidence_score: score,\n  from_cache: true\n}};"
      },
      "id": "wfev-n05",
      "name": "Format Cached",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        960,
        120
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const email = $input.item.json.email_address;\n// Syntax check\nconst syntaxOk = /^[^\\s@]+@[^\\s@]+\\.[^\\s@]{2,}$/.test(email);\nconst domain = syntaxOk ? email.split('@')[1].toLowerCase() : null;\n\n// Disposable domain list (100+ providers)\nconst DISPOSABLE = new Set([\n  'guerrillamail.com','guerrillamailblock.com','spam4.me','grr.la',\n  'tempmail.com','temp-mail.org','throwam.com','throwam.net','throwam.io',\n  'mailinator.com','mailinator2.com','trashmail.com','trashmail.net','trashmail.at',\n  'yopmail.com','yopmail.fr','cool.fr.nf','jetable.fr.nf','nospam.ze.tc',\n  '10minutemail.com','10minutemail.net','10minutemail.org','10minutemail.co.uk',\n  'guerrillamail.info','guerrillamail.biz','guerrillamail.de','guerrillamail.net',\n  'sharklasers.com','guerrillamail.org',\n  'dispostable.com','mailnull.com','spamgourmet.com','spamgourmet.net',\n  'maildrop.cc','discard.email','throwaway.email','33mail.com',\n  'spambox.us','mytrashmail.com','mt2015.com','mt2009.com','chacuo.net',\n  'fakeinbox.com','fakeinbox.net','filzmail.com',\n  'getnada.com','getnada.io','mailnesia.com',\n  'mailscrap.com','mailsiphon.com','mailtothis.com','mintemail.com',\n  'moza.pl','mt2014.com','nwldx.com','objectmail.com',\n  'obobbo.com','oneoffmail.com','pookmail.com','proxymail.eu',\n  'rcpt.at','rklips.com','rmqkr.net','safetymail.info','safetypost.de',\n  'sendspamhere.com','shieldedmail.com','spamavert.com','spamfree24.org',\n  'spamhole.com','spamify.com','spaml.de','spammotel.com','spamobox.com',\n  'spamspot.com','spamthis.co.uk','spamtroll.net','supergreatmail.com',\n  'suremail.info','sweetxxx.de','tafmail.com','tagyourself.com','teewars.org',\n  'teleworm.us','tempalias.com','tempe-mail.com','tempemail.biz','tempinbox.co.uk',\n  'tempinbox.com','tempmail.eu','tempomail.fr','temporaryemail.net',\n  'thankyou2010.com','thisisnotmyrealemail.com','throam.com',\n  'tilien.com','tmail.ws','tmailinator.com','trash2009.com','trash2010.com',\n  'trashdevil.com','trashdevil.de','trashemail.de',\n  'trashmail.io','trashmail.me','trashmailer.com','trashymail.com',\n  'turboposta.com','twinmail.de','tyldd.com','uggsrock.com','uroid.com',\n  'veryrealemail.com','viditag.com','viewcastmedia.com','viewcastmedia.net'\n]);\n\nconst is_disposable = syntaxOk ? DISPOSABLE.has(domain) : false;\nreturn { json: {\n  email, domain,\n  valid_syntax: syntaxOk,\n  is_disposable,\n  skip_smtp: !syntaxOk || is_disposable\n}};"
      },
      "id": "wfev-n06",
      "name": "Full Verify",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        960,
        480
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://cloudflare-dns.com/dns-query",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/dns-json"
            }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "name",
              "value": "={{ $json.domain || 'invalid.invalid' }}"
            },
            {
              "name": "type",
              "value": "MX"
            }
          ]
        },
        "options": {
          "timeout": 8000,
          "neverError": true
        }
      },
      "id": "wfev-n07",
      "name": "DNS MX Lookup",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1200,
        480
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const net = require('net');\nconst prev = $('Full Verify').item.json;\nconst dnsResp = $input.item.json;\n\n// n8n may return the DNS response body as a string in dnsResp.data\n// (happens when Content-Type is application/dns-json, not application/json)\nlet dnsJson = dnsResp;\nif (!Array.isArray(dnsResp.Answer) && dnsResp.data && typeof dnsResp.data === 'string') {\n  try { dnsJson = JSON.parse(dnsResp.data); } catch (e) {}\n}\n\n// Parse MX records\nconst answers = Array.isArray(dnsJson.Answer) ? dnsJson.Answer : [];\nconst mx_records = answers\n  .filter(a => a.type === 15)\n  .map(a => {\n    const parts = a.data.split(' ');\n    return { priority: parseInt(parts[0]) || 10, exchange: parts[1]?.replace(/\\.$/, '') };\n  })\n  .sort((a, b) => a.priority - b.priority);\n\nconst has_mx = mx_records.length > 0;\n\nif (prev.skip_smtp || !has_mx) {\n  return { json: { ...prev, mx_records, has_mx, smtp_result: has_mx ? 'skipped' : 'no_mx', is_catch_all: false }};\n}\n\nconst mxHost = mx_records[0].exchange;\nconst { email } = prev;\n\nconst smtpVerify = () => new Promise(resolve => {\n  const TIMEOUT = 10000;\n  const sock = net.createConnection({ host: mxHost, port: 25 });\n  let buf = '', step = 0;\n\n  const done = (res, ca = false) => {\n    clearTimeout(timer);\n    sock.destroy();\n    resolve({ result: res, catch_all: ca });\n  };\n\n  const timer = setTimeout(() => done('timeout'), TIMEOUT);\n\n  sock.on('data', d => {\n    buf += d.toString();\n    let nl;\n    while ((nl = buf.indexOf('\\n')) !== -1) {\n      const line = buf.slice(0, nl + 1).trim();\n      buf = buf.slice(nl + 1);\n      if (step === 0 && line.startsWith('220'))  { sock.write('EHLO n8n.verify\\r\\n'); step = 1; }\n      else if (step === 1 && line.startsWith('250') && !line.includes('-')) {\n        sock.write(`MAIL FROM:<noreply@n8n.verify>\\r\\n`); step = 2;\n      }\n      else if (step === 2 && line.startsWith('250')) { sock.write(`RCPT TO:<${email}>\\r\\n`); step = 3; }\n      else if (step === 3) {\n        if (/^2[0-9]{2}/.test(line)) {\n          sock.write(`RCPT TO:<probe_${Date.now()}@${email.split('@')[1]}>\\r\\n`);\n          step = 4;\n        } else { done('invalid'); }\n      }\n      else if (step === 4) {\n        const catch_all = /^2[0-9]{2}/.test(line);\n        done('valid', catch_all);\n      }\n    }\n  });\n\n  sock.on('error', () => done('error'));\n  sock.on('close', () => { if (step < 3) done('unknown'); });\n});\n\nconst smtp = await smtpVerify();\nreturn { json: {\n  ...prev, mx_records, has_mx,\n  smtp_result: smtp.result,\n  is_catch_all: smtp.catch_all\n}};"
      },
      "id": "wfev-n08",
      "name": "SMTP Verify",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1440,
        480
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const d = $input.item.json;\nconst { email, valid_syntax, is_disposable, has_mx, smtp_result, is_catch_all } = d;\n\n// Confidence score 0-100\nlet score = 0;\nif (valid_syntax)               score += 10;\nif (!is_disposable)             score += 20;\nif (has_mx)                     score += 20;\nif (smtp_result === 'valid')    score += 35;\nif (!is_catch_all && has_mx)    score += 15;\n\n// is_valid: syntax ok + not disposable + has MX + SMTP explicitly confirmed + not catch-all\nconst is_valid = valid_syntax && !is_disposable && has_mx && smtp_result === 'valid' && !is_catch_all;\n\nreturn { json: {\n  email,\n  domain:           d.domain,\n  is_valid,\n  is_disposable:    is_disposable || false,\n  is_catch_all:     is_catch_all  || false,\n  has_mx:           has_mx        || false,\n  smtp_result:      smtp_result   || 'unknown',\n  mx_records:       d.mx_records  || [],\n  confidence_score: score,\n  from_cache:       false\n}};"
      },
      "id": "wfev-n09",
      "name": "Build Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1680,
        480
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://cycapkswtucbucyegdsn.supabase.co/rest/v1/email_verifications",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "SUPABASE_SERVICE_ROLE_KEY_PLACEHOLDER"
            },
            {
              "name": "Authorization",
              "value": "Bearer SUPABASE_SERVICE_ROLE_KEY_PLACEHOLDER"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "resolution=merge-duplicates,return=minimal"
            }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "on_conflict",
              "value": "email"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ email: $json.email, domain: $json.domain, is_valid: $json.is_valid, is_catch_all: $json.is_catch_all, is_disposable: $json.is_disposable, mx_records: $json.mx_records, smtp_result: $json.smtp_result, verified_at: new Date().toISOString() }) }}",
        "options": {
          "timeout": 10000,
          "neverError": true
        }
      },
      "id": "wfev-n10",
      "name": "Write Cache",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1920,
        480
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Re-read from Build Result since Write Cache item only has HTTP response\nconst d = $('Build Result').item.json;\nreturn { json: {\n  email: d.email, is_valid: d.is_valid, is_disposable: d.is_disposable,\n  is_catch_all: d.is_catch_all, has_mx: d.has_mx, smtp_result: d.smtp_result,\n  confidence_score: d.confidence_score, from_cache: false\n}};"
      },
      "id": "wfev-n11",
      "name": "Return Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2160,
        480
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const d = $input.item.json;\nreturn { json: {\n  email: d.email,\n  is_valid: d.is_valid,\n  is_disposable: d.is_disposable,\n  is_catch_all: d.is_catch_all,\n  has_mx: d.has_mx,\n  smtp_result: d.smtp_result,\n  confidence_score: d.confidence_score,\n  from_cache: true\n}};"
      },
      "id": "wfev-n12",
      "name": "Return Cached",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1200,
        120
      ]
    }
  ],
  "connections": {
    "Trigger": {
      "main": [
        [
          {
            "node": "Check Cache",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Cache": {
      "main": [
        [
          {
            "node": "Parse Cache",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Cache": {
      "main": [
        [
          {
            "node": "IF Cache Hit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Cache Hit": {
      "main": [
        [
          {
            "node": "Format Cached",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Full Verify",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Full Verify": {
      "main": [
        [
          {
            "node": "DNS MX Lookup",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DNS MX Lookup": {
      "main": [
        [
          {
            "node": "SMTP Verify",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SMTP Verify": {
      "main": [
        [
          {
            "node": "Build Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Result": {
      "main": [
        [
          {
            "node": "Write Cache",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Cache": {
      "main": [
        [
          {
            "node": "Return Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Cached": {
      "main": [
        [
          {
            "node": "Return Cached",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Return Result": {
      "main": [
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": null,
  "versionId": "98bf54ef-6619-4704-a0b9-6b62099dc037",
  "activeVersionId": "98bf54ef-6619-4704-a0b9-6b62099dc037",
  "versionCounter": 30,
  "triggerCount": 0,
  "tags": []
}
