n8n-workflows/sub-domain-discovery.json
{
  "name": "SUB — Domain Discovery",
  "nodes": [
    {
      "parameters": {
        "content": "## SUB — Domain Discovery\n**Trigger:** Execute Workflow\n**Input:** `{ lead_id, company_id, company_name, ico }`\n**Output:** `{ found: true/false, domain: \"example.cz\", source: \"ares|dns|ddg\" }`\n\nTries 3 sources in order: ARES BE (if ICO), DNS probe (.cz/.com), DuckDuckGo.\nStops at first success. Firmy.cz removed (migrated to SPA, unscrappable).",
        "height": 200,
        "width": 600,
        "color": 4
      },
      "id": "sdd-sticky",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-200, 100]
    },
    {
      "parameters": {},
      "id": "sdd-0001",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [0, 400]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const raw = $input.item.json;\nconst d = raw.body || raw;\nreturn { json: {\n  lead_id: d.lead_id || '',\n  company_id: d.company_id || '',\n  company_name: d.company_name || '',\n  ico: d.ico || '',\n  found: false,\n  domain: '',\n  source: ''\n} };"
      },
      "id": "sdd-0002",
      "name": "Extract Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [240, 400]
    },
    {
      "parameters": {
        "conditions": {
          "options": {},
          "conditions": [
            {
              "id": "has-ico",
              "leftValue": "={{ $json.ico }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "sdd-0010",
      "name": "IF Has ICO",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [480, 400]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ 'https://ares.gov.cz/ekonomicke-subjekty-v-be/rest/ekonomicke-subjekty/' + $json.ico }}",
        "options": { "neverError": true, "timeout": 15000 }
      },
      "id": "sdd-0011",
      "name": "ARES BE Lookup",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [720, 300],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const BLACKLISTED = new Set(['seznam.cz','centrum.cz','atlas.cz','volny.cz','tiscali.cz','o2.cz','vodafone.cz','t-mobile.cz','upc.cz','czfree.net','gmail.com','yahoo.com','hotmail.com','outlook.com','protonmail.com','icloud.com','mail.com','zoho.com','aol.com','gmx.com','gmx.net','yandex.com','tutanota.com','live.com','msn.com','post.cz','email.cz','facebook.com','twitter.com','x.com','linkedin.com','instagram.com','youtube.com','tiktok.com','pinterest.com','reddit.com','threads.net','google.com','google.cz','bing.com','duckduckgo.com','wikipedia.org','wikipedie.cz','firmy.cz','kurzy.cz','rejstrik.penize.cz','or.justice.cz','justice.cz','rzp.cz','ares.gov.cz','hbi.cz','detail.cz','databaze-firem.cz','github.com','gitlab.com','medium.com','wordpress.com','blogspot.com','wix.com','squarespace.com','webnode.cz','amazon.com','ebay.com','alibaba.com','aliexpress.com','apple.com','microsoft.com','cloudflare.com','mapy.cz','idnes.cz','novinky.cz','aktualne.cz','heureka.cz','zbozi.cz','slevomat.cz']);\nfunction isBlacklisted(d) { if (!d) return true; if (BLACKLISTED.has(d)) return true; const p = d.split('.'); if (p.length > 2 && BLACKLISTED.has(p.slice(-2).join('.'))) return true; return false; }\nconst be = $input.item.json || {};\nconst prev = $('Extract Input').first().json;\n// Handle ARES error responses (404, rate limit, etc.)\nif (be.error || be.kod === 'NENALEZENO') {\n  return { json: { ...prev, found: false } };\n}\nlet website = '';\nif (be.www) website = be.www;\nelse if (be.sidlo && be.sidlo.www) website = be.sidlo.www;\n\nif (!website) {\n  return { json: { ...prev, found: false } };\n}\n\nlet domain = website.replace(/^https?:\\/\\//i, '').replace(/^www\\./i, '').split(/[\\/?#]/)[0].trim().toLowerCase();\nif (!domain || !/^[a-z0-9.-]+\\.[a-z]{2,}$/.test(domain)) {\n  return { json: { ...prev, found: false } };\n}\n\nif (isBlacklisted(domain)) {\n  return { json: { ...prev, found: false } };\n}\n\nreturn { json: { ...prev, found: true, domain: domain, source: 'ares' } };"
      },
      "id": "sdd-0012",
      "name": "Extract ARES Domain",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [960, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {},
          "conditions": [
            {
              "id": "ares-found",
              "leftValue": "={{ $json.found }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "sdd-0013",
      "name": "IF ARES Found",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1200, 300]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const prev = $('Extract Input').first().json;\nfunction stripDiacritics(s) {\n  return s.normalize('NFD').replace(/[\\u0300-\\u036f]/g, '').toLowerCase();\n}\nlet raw = prev.company_name || '';\n// Strip domain extensions from company names like 'Alza.cz a.s.' or 'Kiwi.com s.r.o.'\nraw = raw.replace(/\\.(cz|com|eu|sk|net|org)\\b/gi, '');\n// Strip all Czech legal suffixes (with optional spaces/dots)\nraw = raw.replace(/,?\\s*\\b(s\\.?\\s*r\\.?\\s*o\\.?|a\\.?\\s*s\\.?|spol\\.?\\s*s\\s*r\\.?\\s*o\\.?|v\\.?\\s*o\\.?\\s*s\\.?|k\\.?\\s*s\\.?|s\\.?\\s*p\\.?|z\\.?\\s*s\\.?|z\\.?\\s*u\\.?|o\\.?\\s*p\\.?\\s*s\\.?|s\\.?\\s*e\\.?|druzstvo|narodni\\s*podnik|organizacni\\s*slozka)\\b\\.?/gi, '');\nraw = raw.replace(/,\\s*$/, '').trim();\n// Strip geographic/industry qualifiers that inflate the name\nraw = raw.replace(/\\b(ceska\\s*republika|czech\\s*republic|cr|international|baumarkt|cash\\s*&\\s*carry|pojistovna|pojistovni|banka|lekarna|group|investment)\\b/gi, '').trim();\nraw = raw.replace(/\\s+/g, ' ').trim();\nconst stripped = stripDiacritics(raw);\n// Generate candidates\nconst alphaOnly = stripped.replace(/[^a-z0-9]/g, '').trim();\nconst words = stripped.replace(/[^a-z0-9\\s-]/g, '').trim().split(/\\s+/).filter(w => w.length > 0);\nconst hyphenated = words.length >= 2 ? words.join('-') : '';\n// Also try first significant word alone (catches Lidl, Kaufland, Vodafone, etc.)\nconst firstWord = words.length >= 2 && words[0].length >= 3 ? words[0] : '';\nif (!alphaOnly || alphaOnly.length < 2 || /^[0-9]+$/.test(alphaOnly)) {\n  return { json: { ...prev, found: false, _dns_candidates: [] } };\n}\n// Build best 2 candidates for parallel probing\nlet candidates;\nif (alphaOnly.length > 25 && firstWord) {\n  // Full name too long — try first word instead\n  candidates = [firstWord + '.cz', firstWord + '.com'];\n} else if (alphaOnly.length > 25) {\n  return { json: { ...prev, found: false, _dns_candidates: [] } };\n} else if (firstWord && firstWord !== alphaOnly && words.length >= 2) {\n  // Multi-word: try full name .cz and first word .cz\n  candidates = [alphaOnly + '.cz', firstWord + '.cz'];\n} else if (hyphenated && hyphenated !== alphaOnly) {\n  candidates = [alphaOnly + '.cz', hyphenated + '.cz'];\n} else {\n  candidates = [alphaOnly + '.cz', alphaOnly + '.com'];\n}\nreturn { json: { ...prev, _dns_candidates: candidates, _dns_index: 0 } };"
      },
      "id": "sdd-0030",
      "name": "Generate DNS Candidates",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1680, 500]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ 'https://' + ($json._dns_candidates[0] || 'invalid.invalid') }}",
        "options": { "neverError": true, "timeout": 5000, "response": { "response": { "responseFormat": "text" } } }
      },
      "id": "sdd-0031",
      "name": "Probe .cz Domain",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1920, 420],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ 'https://' + ($('Generate DNS Candidates').first().json._dns_candidates[1] || 'invalid.invalid') }}",
        "options": { "neverError": true, "timeout": 5000, "response": { "response": { "responseFormat": "text" } } }
      },
      "id": "sdd-0032",
      "name": "Probe .com Domain",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1920, 580],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": { "mode": "append" },
      "id": "sdd-0033",
      "name": "Merge DNS Results",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [2160, 500]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const BLACKLISTED = new Set(['seznam.cz','centrum.cz','atlas.cz','volny.cz','tiscali.cz','o2.cz','vodafone.cz','t-mobile.cz','upc.cz','czfree.net','gmail.com','yahoo.com','hotmail.com','outlook.com','protonmail.com','icloud.com','mail.com','zoho.com','aol.com','gmx.com','gmx.net','yandex.com','tutanota.com','live.com','msn.com','post.cz','email.cz','facebook.com','twitter.com','x.com','linkedin.com','instagram.com','youtube.com','tiktok.com','pinterest.com','reddit.com','threads.net','google.com','google.cz','bing.com','duckduckgo.com','wikipedia.org','wikipedie.cz','firmy.cz','kurzy.cz','rejstrik.penize.cz','or.justice.cz','justice.cz','rzp.cz','ares.gov.cz','hbi.cz','detail.cz','databaze-firem.cz','github.com','gitlab.com','medium.com','wordpress.com','blogspot.com','wix.com','squarespace.com','webnode.cz','amazon.com','ebay.com','alibaba.com','aliexpress.com','apple.com','microsoft.com','cloudflare.com','mapy.cz','idnes.cz','novinky.cz','aktualne.cz','heureka.cz','zbozi.cz','slevomat.cz']);\nfunction isBlacklisted(d) { if (!d) return true; if (BLACKLISTED.has(d)) return true; const p = d.split('.'); if (p.length > 2 && BLACKLISTED.has(p.slice(-2).join('.'))) return true; return false; }\nconst prev = $('Generate DNS Candidates').first().json;\nconst candidates = prev._dns_candidates || [];\nconst results = $input.all().map(i => i.json);\n\n// onError:continueRegularOutput wraps errors as { error: { message: '403 - ...' } }\n// Extract status from statusCode field or from error message prefix\nfunction extractStatus(r) {\n  if (!r) return 0;\n  if (typeof r.statusCode === 'number') return r.statusCode;\n  if (r.error && r.error.message) {\n    const m = r.error.message.match(/^(\\d{3})\\s*-/);\n    if (m) return parseInt(m[1]);\n    return 0;\n  }\n  // No error + has data = successful request (responseFormat:text returns { data: '...' })\n  if (r.data !== undefined && r.data !== '') return 200;\n  return 0;\n}\nconst czStatus = extractStatus(results[0]);\nconst comStatus = extractStatus(results[1]);\n\n// Accept 2xx/3xx AND 403 (Cloudflare/WAF = domain exists). Reject 404/5xx/0 (no domain)\nfunction isAlive(status) { return (status >= 200 && status < 400) || status === 403; }\nif (isAlive(czStatus) && candidates[0] && !isBlacklisted(candidates[0])) {\n  return [{ json: { lead_id: prev.lead_id, company_id: prev.company_id, company_name: prev.company_name, ico: prev.ico, found: true, domain: candidates[0], source: 'dns' } }];\n}\nif (isAlive(comStatus) && candidates[1] && !isBlacklisted(candidates[1])) {\n  return [{ json: { lead_id: prev.lead_id, company_id: prev.company_id, company_name: prev.company_name, ico: prev.ico, found: true, domain: candidates[1], source: 'dns' } }];\n}\n\nreturn [{ json: { lead_id: prev.lead_id, company_id: prev.company_id, company_name: prev.company_name, ico: prev.ico, found: false, domain: '', source: '' } }];"
      },
      "id": "sdd-0034",
      "name": "Check DNS Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2400, 500]
    },
    {
      "parameters": {
        "conditions": {
          "options": {},
          "conditions": [
            {
              "id": "dns-found",
              "leftValue": "={{ $json.found }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "sdd-0035",
      "name": "IF DNS Found",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [2640, 500]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const prev = $('Extract Input').first().json;\nconst searchQuery = encodeURIComponent(prev.company_name + ' website');\nreturn { json: { ...prev, _ddg_url: 'https://html.duckduckgo.com/html/?q=' + searchQuery } };"
      },
      "id": "sdd-0040",
      "name": "Prepare DDG Search",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2880, 700]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $json._ddg_url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36"
            }
          ]
        },
        "options": {
          "neverError": true,
          "timeout": 15000,
          "response": { "response": { "responseFormat": "text" } }
        }
      },
      "id": "sdd-0041",
      "name": "Search DuckDuckGo",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [3120, 700],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const BLACKLISTED = new Set(['seznam.cz','centrum.cz','atlas.cz','volny.cz','tiscali.cz','o2.cz','vodafone.cz','t-mobile.cz','upc.cz','czfree.net','gmail.com','yahoo.com','hotmail.com','outlook.com','protonmail.com','icloud.com','mail.com','zoho.com','aol.com','gmx.com','gmx.net','yandex.com','tutanota.com','live.com','msn.com','post.cz','email.cz','facebook.com','twitter.com','x.com','linkedin.com','instagram.com','youtube.com','tiktok.com','pinterest.com','reddit.com','threads.net','google.com','google.cz','bing.com','duckduckgo.com','wikipedia.org','wikipedie.cz','firmy.cz','kurzy.cz','rejstrik.penize.cz','or.justice.cz','justice.cz','rzp.cz','ares.gov.cz','hbi.cz','detail.cz','databaze-firem.cz','github.com','gitlab.com','medium.com','wordpress.com','blogspot.com','wix.com','squarespace.com','webnode.cz','amazon.com','ebay.com','alibaba.com','aliexpress.com','apple.com','microsoft.com','cloudflare.com','mapy.cz','idnes.cz','novinky.cz','aktualne.cz','heureka.cz','zbozi.cz','slevomat.cz']);\nfunction isBlacklisted(d) { if (!d) return true; if (BLACKLISTED.has(d)) return true; const p = d.split('.'); if (p.length > 2 && BLACKLISTED.has(p.slice(-2).join('.'))) return true; return false; }\nconst prev = $('Prepare DDG Search').first().json;\nconst html = ($input.first().json.data || '').toString();\n\nlet domain = '';\n// Match result links — handle both attribute orderings\nconst resultPattern = /class=\"result__a\"[^>]*href=\"([^\"]+)\"|href=\"([^\"]+)\"[^>]*class=\"result__a\"/g;\nlet match;\nwhile ((match = resultPattern.exec(html)) !== null) {\n  const rawUrl = match[1] || match[2];\n  if (!rawUrl) continue;\n  // DuckDuckGo wraps results in redirect URLs with percent-encoded destination\n  let url = rawUrl;\n  const uddgMatch = url.match(/[?&]uddg=([^&]+)/);\n  if (uddgMatch) {\n    try { url = decodeURIComponent(uddgMatch[1]); } catch(e) {}\n  }\n  if (url.includes('duckduckgo.com')) continue;\n  const domainMatch = url.match(/https?:\\/\\/(?:www\\.)?([a-z0-9.-]+\\.[a-z]{2,})/i);\n  if (domainMatch && domainMatch[1]) {\n    const d = domainMatch[1].toLowerCase();\n    if (isBlacklisted(d)) continue;\n    domain = d;\n    break;\n  }\n}\n\nif (!domain) {\n  return [{ json: { lead_id: prev.lead_id, company_id: prev.company_id, company_name: prev.company_name, ico: prev.ico, found: false, domain: '', source: '' } }];\n}\n\nreturn [{ json: { lead_id: prev.lead_id, company_id: prev.company_id, company_name: prev.company_name, ico: prev.ico, found: true, domain: domain, source: 'ddg' } }];"
      },
      "id": "sdd-0042",
      "name": "Extract DDG Domain",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3360, 700]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "return { json: $input.item.json };"
      },
      "id": "sdd-0099",
      "name": "Return Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3600, 400]
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [[{ "node": "Extract Input", "type": "main", "index": 0 }]]
    },
    "Extract Input": {
      "main": [[{ "node": "IF Has ICO", "type": "main", "index": 0 }]]
    },
    "IF Has ICO": {
      "main": [
        [{ "node": "ARES BE Lookup", "type": "main", "index": 0 }],
        [{ "node": "Generate DNS Candidates", "type": "main", "index": 0 }]
      ]
    },
    "ARES BE Lookup": {
      "main": [[{ "node": "Extract ARES Domain", "type": "main", "index": 0 }]]
    },
    "Extract ARES Domain": {
      "main": [[{ "node": "IF ARES Found", "type": "main", "index": 0 }]]
    },
    "IF ARES Found": {
      "main": [
        [{ "node": "Return Result", "type": "main", "index": 0 }],
        [{ "node": "Generate DNS Candidates", "type": "main", "index": 0 }]
      ]
    },
    "Generate DNS Candidates": {
      "main": [
        [
          { "node": "Probe .cz Domain", "type": "main", "index": 0 },
          { "node": "Probe .com Domain", "type": "main", "index": 0 }
        ]
      ]
    },
    "Probe .cz Domain": {
      "main": [[{ "node": "Merge DNS Results", "type": "main", "index": 0 }]]
    },
    "Probe .com Domain": {
      "main": [[{ "node": "Merge DNS Results", "type": "main", "index": 1 }]]
    },
    "Merge DNS Results": {
      "main": [[{ "node": "Check DNS Results", "type": "main", "index": 0 }]]
    },
    "Check DNS Results": {
      "main": [[{ "node": "IF DNS Found", "type": "main", "index": 0 }]]
    },
    "IF DNS Found": {
      "main": [
        [{ "node": "Return Result", "type": "main", "index": 0 }],
        [{ "node": "Prepare DDG Search", "type": "main", "index": 0 }]
      ]
    },
    "Prepare DDG Search": {
      "main": [[{ "node": "Search DuckDuckGo", "type": "main", "index": 0 }]]
    },
    "Search DuckDuckGo": {
      "main": [[{ "node": "Extract DDG Domain", "type": "main", "index": 0 }]]
    },
    "Extract DDG Domain": {
      "main": [[{ "node": "Return Result", "type": "main", "index": 0 }]]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0
}
