n8n-workflows/sub-reply-check.json
{
  "name": "SUB — Reply Check (per salesman)",
  "nodes": [
    {
      "parameters": {},
      "id": "src-0000-0000-0000-000000000001",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [0, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://imap-proxy:3001/check-inbox",
        "sendBody": true,
        "specifyBody": "raw",
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ credential_name: $json.imap_credential_name }) }}",
        "options": {
          "timeout": 60000,
          "neverError": true
        }
      },
      "id": "src-0000-0000-0000-000000000030",
      "name": "Fetch Emails",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "continueOnFail": true,
      "position": [240, 300]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const resp = $input.first().json;\nif (!resp.success || !resp.emails || resp.emails.length === 0) {\n  return [{ json: { __proxy_empty: true } }];\n}\nreturn resp.emails.map(e => ({ json: e }));"
      },
      "id": "src-0000-0000-0000-000000000031",
      "name": "Split Email Items",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [480, 300]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const salesmanId = $('Execute Workflow Trigger').first().json.id;\nconst salesmanTeamId = $('Execute Workflow Trigger').first().json.team_id;\nconst items = $input.all();\nconst emails = items.filter(i => i.json.error === undefined && !i.json.__proxy_empty && (i.json.from || i.json.subject)).map(i => ({\n  json: { ...i.json, salesman_id: salesmanId, team_id: salesmanTeamId, has_emails: true }\n}));\nif (emails.length === 0) return [{ json: { has_emails: false } }];\nreturn emails;"
      },
      "id": "src-0000-0000-0000-000000000008",
      "name": "Stamp Salesman",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [720, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {},
          "conditions": [
            {
              "id": "has-emails",
              "leftValue": "={{ $json.has_emails }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "equals" }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "src-0000-0000-0000-000000000009",
      "name": "IF Has Emails",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [960, 300]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {
          "reset": true
        }
      },
      "id": "src-0000-0000-0000-000000000010",
      "name": "Loop Emails",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 1,
      "position": [1200, 300]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const email = $input.item.json;\nlet msgId = '';\nif (email.messageId) {\n  msgId = String(email.messageId).trim();\n} else if (email.headers && email.headers['message-id']) {\n  msgId = String(email.headers['message-id']).trim();\n}\nif (!msgId) {\n  msgId = (email.from || '') + '|' + (email.subject || '') + '|' + (email.date || '');\n}\nreturn { json: { ...email, __message_id: msgId } };"
      },
      "id": "src-0000-0000-0000-000000000023",
      "name": "Get Email Message ID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1320, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://cycapkswtucbucyegdsn.supabase.co/rest/v1/rpc/check_and_mark_reply_processed",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "SUPABASE_SERVICE_ROLE_KEY_PLACEHOLDER" },
            { "name": "Authorization", "value": "Bearer SUPABASE_SERVICE_ROLE_KEY_PLACEHOLDER" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ p_message_id: $json.__message_id, p_salesman_id: $json.salesman_id }) }}",
        "options": {
          "timeout": 30000,
          "neverError": true
        }
      },
      "id": "src-0000-0000-0000-000000000024",
      "name": "Check And Mark Processed",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1560, 300]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const dedupResult = $input.item.json;\nconst emailData = $('Get Email Message ID').first().json;\nreturn { json: { ...emailData, __is_new_reply: dedupResult.is_new === true } };"
      },
      "id": "src-0000-0000-0000-000000000025",
      "name": "Parse Dedup Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1800, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {},
          "conditions": [
            {
              "id": "is-new-reply",
              "leftValue": "={{ $json.__is_new_reply }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "equals" }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "src-0000-0000-0000-000000000026",
      "name": "IF Not Yet Processed",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [2040, 300]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const email = $input.item.json;\nconst fromStr = (email.from || '').toString();\nconst domainMatch = fromStr.match(/@([a-zA-Z0-9.\\-]+\\.[a-zA-Z]{2,})/);\nconst senderDomain = domainMatch ? domainMatch[1].toLowerCase() : '';\nconst bodyText = (email.text || email.textHtml || '').toString();\nreturn { json: {\n  from_email: fromStr,\n  sender_domain: senderDomain,\n  subject: email.subject || '',\n  body_preview: bodyText.substring(0, 200),\n  received_at: email.date || new Date().toISOString(),\n  salesman_id: email.salesman_id\n}};"
      },
      "id": "src-0000-0000-0000-000000000011",
      "name": "Extract Sender Domain",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2280, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {},
          "conditions": [
            {
              "id": "has-domain",
              "leftValue": "={{ $json.sender_domain }}",
              "rightValue": "",
              "operator": { "type": "string", "operation": "notEquals" }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "src-0000-0000-0000-000000000012",
      "name": "IF Has Domain",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [2520, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://cycapkswtucbucyegdsn.supabase.co/rest/v1/leads",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "SUPABASE_SERVICE_ROLE_KEY_PLACEHOLDER" },
            { "name": "Authorization", "value": "Bearer SUPABASE_SERVICE_ROLE_KEY_PLACEHOLDER" }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "select", "value": "id,domain,status" },
            { "name": "domain", "value": "={{ 'eq.' + $json.sender_domain }}" },
            { "name": "is_active", "value": "eq.true" },
            { "name": "limit", "value": "1" }
          ]
        },
        "options": {
          "timeout": 30000,
          "neverError": true
        }
      },
      "id": "src-0000-0000-0000-000000000013",
      "name": "Match Lead By Domain",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2760, 240]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const items = $input.all().map(i => i.json);\nconst lead = items.find(l => l && l.id) || null;\nconst prev = $('Extract Sender Domain').first().json;\nreturn [{ json: {\n  lead_found: !!lead,\n  lead_id: lead ? lead.id : null,\n  lead_status: lead ? lead.status : null,\n  from_email: prev.from_email,\n  sender_domain: prev.sender_domain,\n  subject: prev.subject,\n  body_preview: prev.body_preview,\n  received_at: prev.received_at,\n  salesman_id: prev.salesman_id\n}}];"
      },
      "id": "src-0000-0000-0000-000000000014",
      "name": "Check Lead Found",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3000, 240]
    },
    {
      "parameters": {
        "conditions": {
          "options": {},
          "conditions": [
            {
              "id": "lead-found",
              "leftValue": "={{ $json.lead_found }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "equals" }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "src-0000-0000-0000-000000000015",
      "name": "IF Lead Found",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [3240, 240]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://cycapkswtucbucyegdsn.supabase.co/rest/v1/wave_leads",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "SUPABASE_SERVICE_ROLE_KEY_PLACEHOLDER" },
            { "name": "Authorization", "value": "Bearer SUPABASE_SERVICE_ROLE_KEY_PLACEHOLDER" }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "select", "value": "id,wave_id,lead_id,status" },
            { "name": "lead_id", "value": "={{ 'eq.' + $json.lead_id }}" },
            { "name": "status", "value": "not.in.(completed,replied)" }
          ]
        },
        "options": {
          "timeout": 30000,
          "neverError": true
        }
      },
      "id": "src-0000-0000-0000-000000000016",
      "name": "Get Wave Lead",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [3480, 180]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const items = $input.all().map(i => i.json);\nconst waveLead = items.find(wl => wl && wl.id) || null;\nconst prev = $('Check Lead Found').first().json;\nreturn [{ json: {\n  ...prev,\n  wave_lead_id: waveLead ? waveLead.id : null,\n  wave_id: waveLead ? waveLead.wave_id : null,\n  has_wave_lead: !!waveLead\n}}];"
      },
      "id": "src-0000-0000-0000-000000000017",
      "name": "Extract Wave Lead",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3720, 180]
    },
    {
      "parameters": {
        "conditions": {
          "options": {},
          "conditions": [
            {
              "id": "has-wave-lead",
              "leftValue": "={{ $json.has_wave_lead }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "equals" }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "src-0000-0000-0000-000000000020",
      "name": "IF Has Wave Lead",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [3960, 180]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "https://cycapkswtucbucyegdsn.supabase.co/rest/v1/email_queue",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "SUPABASE_SERVICE_ROLE_KEY_PLACEHOLDER" },
            { "name": "Authorization", "value": "Bearer SUPABASE_SERVICE_ROLE_KEY_PLACEHOLDER" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "wave_lead_id", "value": "={{ 'eq.' + $json.wave_lead_id }}" },
            { "name": "status", "value": "in.(queued,pending_prev)" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{ \"status\": \"cancelled\" }",
        "options": {
          "timeout": 30000,
          "neverError": true
        }
      },
      "id": "src-0000-0000-0000-000000000018",
      "name": "Cancel Pending Emails",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [4200, 120]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "https://cycapkswtucbucyegdsn.supabase.co/rest/v1/wave_leads",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "SUPABASE_SERVICE_ROLE_KEY_PLACEHOLDER" },
            { "name": "Authorization", "value": "Bearer SUPABASE_SERVICE_ROLE_KEY_PLACEHOLDER" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "id", "value": "={{ 'eq.' + $json.wave_lead_id }}" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{ \"status\": \"replied\" }",
        "options": {
          "timeout": 30000,
          "neverError": true
        }
      },
      "id": "src-0000-0000-0000-000000000021",
      "name": "Mark Wave Lead Replied",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [4440, 120]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://cycapkswtucbucyegdsn.supabase.co/rest/v1/lead_replies",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "SUPABASE_SERVICE_ROLE_KEY_PLACEHOLDER" },
            { "name": "Authorization", "value": "Bearer SUPABASE_SERVICE_ROLE_KEY_PLACEHOLDER" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ lead_id: $json.lead_id, wave_lead_id: $json.wave_lead_id, salesman_id: $json.salesman_id, from_email: $json.from_email, subject: $json.subject, body_preview: $json.body_preview, received_at: $json.received_at }) }}",
        "options": {
          "timeout": 30000,
          "neverError": true
        }
      },
      "id": "src-0000-0000-0000-000000000019",
      "name": "Insert Lead Reply",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [4680, 120]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "https://cycapkswtucbucyegdsn.supabase.co/rest/v1/leads",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "SUPABASE_SERVICE_ROLE_KEY_PLACEHOLDER" },
            { "name": "Authorization", "value": "Bearer SUPABASE_SERVICE_ROLE_KEY_PLACEHOLDER" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "id", "value": "={{ 'eq.' + $('Check Lead Found').first().json.lead_id }}" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{ \"status\": \"replied\" }",
        "options": {
          "timeout": 30000,
          "neverError": true
        }
      },
      "id": "src-0000-0000-0000-000000000022",
      "name": "Mark Lead Replied",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [4920, 120]
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [[{ "node": "Fetch Emails", "type": "main", "index": 0 }]]
    },
    "Fetch Emails": {
      "main": [[{ "node": "Split Email Items", "type": "main", "index": 0 }]]
    },
    "Split Email Items": {
      "main": [[{ "node": "Stamp Salesman", "type": "main", "index": 0 }]]
    },
    "Stamp Salesman": {
      "main": [[{ "node": "IF Has Emails", "type": "main", "index": 0 }]]
    },
    "IF Has Emails": {
      "main": [
        [{ "node": "Loop Emails", "type": "main", "index": 0 }],
        []
      ]
    },
    "Loop Emails": {
      "main": [
        [{ "node": "Get Email Message ID", "type": "main", "index": 0 }],
        []
      ]
    },
    "Get Email Message ID": {
      "main": [[{ "node": "Check And Mark Processed", "type": "main", "index": 0 }]]
    },
    "Check And Mark Processed": {
      "main": [[{ "node": "Parse Dedup Result", "type": "main", "index": 0 }]]
    },
    "Parse Dedup Result": {
      "main": [[{ "node": "IF Not Yet Processed", "type": "main", "index": 0 }]]
    },
    "IF Not Yet Processed": {
      "main": [
        [{ "node": "Extract Sender Domain", "type": "main", "index": 0 }],
        [{ "node": "Loop Emails", "type": "main", "index": 0 }]
      ]
    },
    "Extract Sender Domain": {
      "main": [[{ "node": "IF Has Domain", "type": "main", "index": 0 }]]
    },
    "IF Has Domain": {
      "main": [
        [{ "node": "Match Lead By Domain", "type": "main", "index": 0 }],
        [{ "node": "Loop Emails", "type": "main", "index": 0 }]
      ]
    },
    "Match Lead By Domain": {
      "main": [[{ "node": "Check Lead Found", "type": "main", "index": 0 }]]
    },
    "Check Lead Found": {
      "main": [[{ "node": "IF Lead Found", "type": "main", "index": 0 }]]
    },
    "IF Lead Found": {
      "main": [
        [{ "node": "Get Wave Lead", "type": "main", "index": 0 }],
        [{ "node": "Loop Emails", "type": "main", "index": 0 }]
      ]
    },
    "Get Wave Lead": {
      "main": [[{ "node": "Extract Wave Lead", "type": "main", "index": 0 }]]
    },
    "Extract Wave Lead": {
      "main": [[{ "node": "IF Has Wave Lead", "type": "main", "index": 0 }]]
    },
    "IF Has Wave Lead": {
      "main": [
        [{ "node": "Cancel Pending Emails", "type": "main", "index": 0 }],
        [{ "node": "Loop Emails", "type": "main", "index": 0 }]
      ]
    },
    "Cancel Pending Emails": {
      "main": [[{ "node": "Mark Wave Lead Replied", "type": "main", "index": 0 }]]
    },
    "Mark Wave Lead Replied": {
      "main": [[{ "node": "Insert Lead Reply", "type": "main", "index": 0 }]]
    },
    "Insert Lead Reply": {
      "main": [[{ "node": "Mark Lead Replied", "type": "main", "index": 0 }]]
    },
    "Mark Lead Replied": {
      "main": [[{ "node": "Loop Emails", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {}
}
