n8n-workflows/sub-reply-check.json
{
  "updatedAt": "2026-03-15T12:29:41.132Z",
  "createdAt": "2026-02-26T18:50:43.380Z",
  "id": "WjbYMqMXDxkjIssL",
  "name": "SUB — Reply Check (per salesman)",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "id": "src-0000-0000-0000-000000000001",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        0,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://imap-proxy:3001/check-inbox",
        "sendBody": true,
        "specifyBody": "raw",
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ credential_name: $json.imap_credential_name, salesman_email: $json.email }) }}",
        "options": {
          "timeout": 60000,
          "neverError": true
        }
      },
      "id": "src-0000-0000-0000-000000000030",
      "name": "Fetch Emails",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "continueOnFail": true,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const resp = $input.first().json;\nif (!resp.success || !resp.emails || resp.emails.length === 0) {\n  return [{ json: { __proxy_empty: true } }];\n}\nreturn resp.emails.map(e => ({ json: e }));"
      },
      "id": "src-0000-0000-0000-000000000031",
      "name": "Split Email Items",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        300
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const salesmanId = $('Execute Workflow Trigger').first().json.id;\nconst salesmanTeamId = $('Execute Workflow Trigger').first().json.team_id;\nconst items = $input.all();\nconst emails = items.filter(i => i.json.error === undefined && !i.json.__proxy_empty && (i.json.from || i.json.subject)).map(i => ({\n  json: { ...i.json, salesman_id: salesmanId, team_id: salesmanTeamId, has_emails: true }\n}));\nif (emails.length === 0) return [{ json: { has_emails: false } }];\nreturn emails;"
      },
      "id": "src-0000-0000-0000-000000000008",
      "name": "Stamp Salesman",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        720,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {},
          "conditions": [
            {
              "id": "has-emails",
              "leftValue": "={{ $json.has_emails }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "src-0000-0000-0000-000000000009",
      "name": "IF Has Emails",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        960,
        300
      ]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {
          "reset": true
        }
      },
      "id": "src-0000-0000-0000-000000000010",
      "name": "Loop Emails",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 1,
      "position": [
        1200,
        300
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const email = $input.item.json;\nlet msgId = '';\nif (email.messageId) {\n  msgId = String(email.messageId).trim();\n} else if (email.headers && email.headers['message-id']) {\n  msgId = String(email.headers['message-id']).trim();\n}\nif (!msgId) {\n  msgId = (email.from || '') + '|' + (email.subject || '') + '|' + (email.date || '');\n}\nreturn { json: { ...email, __message_id: msgId } };"
      },
      "id": "src-0000-0000-0000-000000000023",
      "name": "Get Email Message ID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1440,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://cycapkswtucbucyegdsn.supabase.co/rest/v1/rpc/check_and_mark_reply_processed",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "SUPABASE_SERVICE_ROLE_KEY_PLACEHOLDER"
            },
            {
              "name": "Authorization",
              "value": "Bearer SUPABASE_SERVICE_ROLE_KEY_PLACEHOLDER"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ p_message_id: $json.__message_id, p_salesman_id: $json.salesman_id }) }}",
        "options": {
          "timeout": 30000,
          "neverError": true
        }
      },
      "id": "src-0000-0000-0000-000000000024",
      "name": "Check And Mark Processed",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1680,
        300
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const dedupResult = $input.item.json;\nconst emailData = $('Get Email Message ID').first().json;\nreturn { json: { ...emailData, __is_new_reply: dedupResult.is_new === true } };"
      },
      "id": "src-0000-0000-0000-000000000025",
      "name": "Parse Dedup Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1920,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {},
          "conditions": [
            {
              "id": "is-new-reply",
              "leftValue": "={{ $json.__is_new_reply }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "src-0000-0000-0000-000000000026",
      "name": "IF Not Yet Processed",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2160,
        300
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const email = $input.item.json;\nconst fromStr = (email.from || '').toString();\nconst emailMatch = fromStr.match(/<?([a-zA-Z0-9._%+\\-]+@[a-zA-Z0-9.\\-]+\\.[a-zA-Z]{2,})>?/);\nconst fromEmail = emailMatch ? emailMatch[1].toLowerCase() : '';\nconst domainMatch = fromStr.match(/@([a-zA-Z0-9.\\-]+\\.[a-zA-Z]{2,})/);\nconst senderDomain = domainMatch ? domainMatch[1].toLowerCase() : '';\nconst bodyText = (email.text || email.textHtml || '').toString();\nconst inReplyTo = (email.headers && email.headers['in-reply-to']) ? String(email.headers['in-reply-to']).trim() : '';\nreturn { json: {\n  from_email: fromEmail || fromStr,\n  sender_domain: senderDomain,\n  subject: email.subject || '',\n  body_preview: bodyText.substring(0, 200),\n  received_at: email.date || new Date().toISOString(),\n  salesman_id: email.salesman_id,\n  in_reply_to: inReplyTo\n}};"
      },
      "id": "src-0000-0000-0000-000000000011",
      "name": "Extract Sender Domain",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2400,
        300
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://cycapkswtucbucyegdsn.supabase.co/rest/v1/sent_emails",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "SUPABASE_SERVICE_ROLE_KEY_PLACEHOLDER"
            },
            {
              "name": "Authorization",
              "value": "Bearer SUPABASE_SERVICE_ROLE_KEY_PLACEHOLDER"
            }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "select",
              "value": "id,wave_lead_id,wave_leads!inner(lead_id,leads!inner(id,domain,status,is_active))"
            },
            {
              "name": "smtp_message_id",
              "value": "={{ 'eq.' + $json.in_reply_to }}"
            },
            {
              "name": "wave_leads.leads.is_active",
              "value": "eq.true"
            },
            {
              "name": "limit",
              "value": "1"
            }
          ]
        },
        "options": {
          "timeout": 30000,
          "neverError": true
        }
      },
      "id": "src-0000-0000-0000-000000000060",
      "name": "Match By Header",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2640,
        120
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const items = $input.all().map(i => i.json);\nconst prev = $('Extract Sender Domain').first().json;\nif (!prev.in_reply_to) {\n  return [{ json: { ...prev, lead_found: false, match_method: 'none' } }];\n}\nconst se = items.find(s => s && s.wave_leads && s.wave_leads.leads && s.wave_leads.leads.id);\nif (se) {\n  return [{ json: {\n    lead_found: true,\n    lead_id: se.wave_leads.leads.id,\n    lead_status: se.wave_leads.leads.status,\n    match_method: 'header',\n    from_email: prev.from_email,\n    sender_domain: prev.sender_domain,\n    subject: prev.subject,\n    body_preview: prev.body_preview,\n    received_at: prev.received_at,\n    salesman_id: prev.salesman_id\n  }}];\n}\nreturn [{ json: { ...prev, lead_found: false, match_method: 'none' } }];"
      },
      "id": "src-0000-0000-0000-000000000061",
      "name": "Check Header Match",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2880,
        120
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {},
          "conditions": [
            {
              "id": "header-match-found",
              "leftValue": "={{ $json.lead_found }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "src-0000-0000-0000-000000000062",
      "name": "IF Header Match",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        3120,
        120
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {},
          "conditions": [
            {
              "id": "has-domain",
              "leftValue": "={{ $json.sender_domain }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "src-0000-0000-0000-000000000012",
      "name": "IF Has Domain",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        3360,
        300
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://cycapkswtucbucyegdsn.supabase.co/rest/v1/email_candidates",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "SUPABASE_SERVICE_ROLE_KEY_PLACEHOLDER"
            },
            {
              "name": "Authorization",
              "value": "Bearer SUPABASE_SERVICE_ROLE_KEY_PLACEHOLDER"
            }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "select",
              "value": "id,email_address,jednatel_id,jednatels!inner(lead_id,leads!inner(id,domain,status,is_active))"
            },
            {
              "name": "email_address",
              "value": "={{ 'eq.' + $json.from_email }}"
            },
            {
              "name": "jednatels.leads.is_active",
              "value": "eq.true"
            },
            {
              "name": "limit",
              "value": "1"
            }
          ]
        },
        "options": {
          "timeout": 30000,
          "neverError": true
        }
      },
      "id": "src-0000-0000-0000-000000000040",
      "name": "Match By Email",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3600,
        240
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const items = $input.all().map(i => i.json);\nconst candidate = items.find(c => c && c.id && c.jednatels && c.jednatels.leads && c.jednatels.leads.id);\nconst prev = $('Extract Sender Domain').first().json;\nif (candidate) {\n  return [{ json: {\n    lead_found: true,\n    lead_id: candidate.jednatels.leads.id,\n    lead_status: candidate.jednatels.leads.status,\n    match_method: 'email',\n    from_email: prev.from_email,\n    sender_domain: prev.sender_domain,\n    subject: prev.subject,\n    body_preview: prev.body_preview,\n    received_at: prev.received_at,\n    salesman_id: prev.salesman_id\n  }}];\n}\nreturn [{ json: { ...prev, lead_found: false, match_method: 'none' } }];"
      },
      "id": "src-0000-0000-0000-000000000041",
      "name": "Check Email Match",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3840,
        240
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {},
          "conditions": [
            {
              "id": "email-match-found",
              "leftValue": "={{ $json.lead_found }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "src-0000-0000-0000-000000000042",
      "name": "IF Email Match",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        4080,
        240
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://cycapkswtucbucyegdsn.supabase.co/rest/v1/email_candidates",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "SUPABASE_SERVICE_ROLE_KEY_PLACEHOLDER"
            },
            {
              "name": "Authorization",
              "value": "Bearer SUPABASE_SERVICE_ROLE_KEY_PLACEHOLDER"
            }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "select",
              "value": "id,email_address,contact_id,contacts!inner(company_id,companies!inner(leads!inner(id,domain,status,is_active)))"
            },
            {
              "name": "email_address",
              "value": "={{ 'eq.' + $json.from_email }}"
            },
            {
              "name": "contacts.companies.leads.is_active",
              "value": "eq.true"
            },
            {
              "name": "limit",
              "value": "1"
            }
          ]
        },
        "options": {
          "timeout": 30000,
          "neverError": true
        }
      },
      "id": "src-0000-0000-0000-000000000070",
      "name": "Match By Email (Contacts)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4320,
        300
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const items = $input.all().map(i => i.json);\nconst candidate = items.find(c => c && c.contacts && c.contacts.companies && c.contacts.companies.leads && c.contacts.companies.leads.length > 0);\nconst prev = $('Extract Sender Domain').first().json;\nif (candidate) {\n  const lead = candidate.contacts.companies.leads[0];\n  return [{ json: {\n    lead_found: true,\n    lead_id: lead.id,\n    lead_status: lead.status,\n    match_method: 'email_contact',\n    from_email: prev.from_email,\n    sender_domain: prev.sender_domain,\n    subject: prev.subject,\n    body_preview: prev.body_preview,\n    received_at: prev.received_at,\n    salesman_id: prev.salesman_id\n  }}];\n}\nreturn [{ json: { ...prev, lead_found: false, match_method: 'none' } }];"
      },
      "id": "src-0000-0000-0000-000000000071",
      "name": "Check Contacts Match",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4560,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {},
          "conditions": [
            {
              "id": "contacts-match-found",
              "leftValue": "={{ $json.lead_found }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "src-0000-0000-0000-000000000072",
      "name": "IF Contacts Match",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        4800,
        300
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://cycapkswtucbucyegdsn.supabase.co/rest/v1/leads",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "SUPABASE_SERVICE_ROLE_KEY_PLACEHOLDER"
            },
            {
              "name": "Authorization",
              "value": "Bearer SUPABASE_SERVICE_ROLE_KEY_PLACEHOLDER"
            }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "select",
              "value": "id,domain,status"
            },
            {
              "name": "domain",
              "value": "={{ 'eq.' + $json.sender_domain }}"
            },
            {
              "name": "is_active",
              "value": "eq.true"
            },
            {
              "name": "limit",
              "value": "1"
            }
          ]
        },
        "options": {
          "timeout": 30000,
          "neverError": true
        }
      },
      "id": "src-0000-0000-0000-000000000013",
      "name": "Match Lead By Domain",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5040,
        420
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const items = $input.all().map(i => i.json);\nconst lead = items.find(l => l && l.id) || null;\nconst prev = $('Extract Sender Domain').first().json;\nif (lead) {\n  return [{ json: {\n    lead_found: true,\n    lead_id: lead.id,\n    lead_status: lead.status,\n    match_method: 'domain',\n    from_email: prev.from_email,\n    sender_domain: prev.sender_domain,\n    subject: prev.subject,\n    body_preview: prev.body_preview,\n    received_at: prev.received_at,\n    salesman_id: prev.salesman_id\n  }}];\n}\nreturn [{ json: { ...prev, lead_found: false, match_method: 'none' } }];"
      },
      "id": "src-0000-0000-0000-000000000014",
      "name": "Check Domain Match",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5280,
        420
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {},
          "conditions": [
            {
              "id": "domain-match-found",
              "leftValue": "={{ $json.lead_found }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "src-0000-0000-0000-000000000015",
      "name": "IF Domain Match",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        5520,
        420
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://cycapkswtucbucyegdsn.supabase.co/rest/v1/leads",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "SUPABASE_SERVICE_ROLE_KEY_PLACEHOLDER"
            },
            {
              "name": "Authorization",
              "value": "Bearer SUPABASE_SERVICE_ROLE_KEY_PLACEHOLDER"
            }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "select",
              "value": "id,domain,status"
            },
            {
              "name": "domain",
              "value": "={{ 'ilike.%' + $json.sender_domain.replace(/\\.[a-z]{2,}$/i, '').replace(/^(www\\.)?/, '') + '%' }}"
            },
            {
              "name": "is_active",
              "value": "eq.true"
            },
            {
              "name": "limit",
              "value": "10"
            }
          ]
        },
        "options": {
          "timeout": 30000,
          "neverError": true
        }
      },
      "id": "src-0000-0000-0000-000000000043",
      "name": "Fuzzy Domain Candidates",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5760,
        540
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const candidates = $input.all().map(i => i.json).filter(l => l && l.id);\nconst prev = $('Extract Sender Domain').first().json;\nconst senderDomain = prev.sender_domain;\n\nif (candidates.length === 0) {\n  return [{ json: { ...prev, lead_found: false, match_method: 'none' } }];\n}\n\nfunction rootDomain(d) {\n  return (d || '').replace(/\\.[a-z]{2,}$/i, '').replace(/^(www\\.)?/, '').toLowerCase();\n}\n\nfunction levenshtein(a, b) {\n  const m = a.length, n = b.length;\n  const dp = Array.from({ length: m + 1 }, () => new Array(n + 1).fill(0));\n  for (let i = 0; i <= m; i++) dp[i][0] = i;\n  for (let j = 0; j <= n; j++) dp[0][j] = j;\n  for (let i = 1; i <= m; i++) {\n    for (let j = 1; j <= n; j++) {\n      dp[i][j] = Math.min(\n        dp[i-1][j] + 1,\n        dp[i][j-1] + 1,\n        dp[i-1][j-1] + (a[i-1] !== b[j-1] ? 1 : 0)\n      );\n    }\n  }\n  return dp[m][n];\n}\n\nconst senderRoot = rootDomain(senderDomain);\nlet bestMatch = null;\nlet bestScore = 0;\n\nfor (const lead of candidates) {\n  const leadDomain = (lead.domain || '').toLowerCase();\n  const leadRoot = rootDomain(leadDomain);\n  let score = 0;\n  if (senderDomain.includes(leadDomain) || leadDomain.includes(senderDomain)) score += 3;\n  if (senderRoot.includes(leadRoot) || leadRoot.includes(senderRoot)) score += 2;\n  if (senderRoot === leadRoot && senderRoot.length >= 3) score += 5;\n  const dist = levenshtein(senderDomain, leadDomain);\n  if (dist <= 2) score += (3 - dist);\n  if (score > bestScore) {\n    bestScore = score;\n    bestMatch = lead;\n  }\n}\n\nif (bestMatch && bestScore >= 2) {\n  return [{ json: {\n    lead_found: true,\n    lead_id: bestMatch.id,\n    lead_status: bestMatch.status,\n    match_method: 'fuzzy',\n    from_email: prev.from_email,\n    sender_domain: prev.sender_domain,\n    subject: prev.subject,\n    body_preview: prev.body_preview,\n    received_at: prev.received_at,\n    salesman_id: prev.salesman_id\n  }}];\n}\n\nreturn [{ json: { ...prev, lead_found: false, match_method: 'none' } }];"
      },
      "id": "src-0000-0000-0000-000000000044",
      "name": "Fuzzy Domain Match",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6000,
        540
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {},
          "conditions": [
            {
              "id": "fuzzy-match-found",
              "leftValue": "={{ $json.lead_found }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "src-0000-0000-0000-000000000045",
      "name": "IF Fuzzy Match",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        6240,
        540
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://cycapkswtucbucyegdsn.supabase.co/rest/v1/unmatched_replies",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "SUPABASE_SERVICE_ROLE_KEY_PLACEHOLDER"
            },
            {
              "name": "Authorization",
              "value": "Bearer SUPABASE_SERVICE_ROLE_KEY_PLACEHOLDER"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ from_email: $json.from_email, sender_domain: $json.sender_domain, subject: $json.subject, body_preview: $json.body_preview, salesman_id: $json.salesman_id, received_at: $json.received_at }) }}",
        "options": {
          "timeout": 30000,
          "neverError": true
        }
      },
      "id": "src-0000-0000-0000-000000000046",
      "name": "Log Unmatched Reply",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        6480,
        660
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "return { json: $input.item.json };"
      },
      "id": "src-0000-0000-0000-000000000050",
      "name": "Merge Match Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4800,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {},
          "conditions": [
            {
              "id": "not-already-replied",
              "leftValue": "={{ $json.lead_status }}",
              "rightValue": "replied",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "src-0000-0000-0000-000000000082",
      "name": "IF Not Already Replied",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        4920,
        0
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://cycapkswtucbucyegdsn.supabase.co/rest/v1/wave_leads",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "SUPABASE_SERVICE_ROLE_KEY_PLACEHOLDER"
            },
            {
              "name": "Authorization",
              "value": "Bearer SUPABASE_SERVICE_ROLE_KEY_PLACEHOLDER"
            }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "select",
              "value": "id,wave_id,lead_id,status"
            },
            {
              "name": "lead_id",
              "value": "={{ 'eq.' + $json.lead_id }}"
            },
            {
              "name": "order",
              "value": "created_at.desc"
            },
            {
              "name": "limit",
              "value": "1"
            }
          ]
        },
        "options": {
          "timeout": 30000,
          "neverError": true
        }
      },
      "id": "src-0000-0000-0000-000000000016",
      "name": "Get Wave Lead",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5040,
        0
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const items = $input.all().map(i => i.json);\nconst waveLead = items.find(wl => wl && wl.id) || null;\nconst prev = $('Merge Match Results').first().json;\nreturn [{ json: {\n  ...prev,\n  wave_lead_id: waveLead ? waveLead.id : null,\n  wave_id: waveLead ? waveLead.wave_id : null,\n  has_wave_lead: !!waveLead\n}}];"
      },
      "id": "src-0000-0000-0000-000000000017",
      "name": "Extract Wave Lead",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5280,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {},
          "conditions": [
            {
              "id": "has-wave-lead",
              "leftValue": "={{ $json.has_wave_lead }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "src-0000-0000-0000-000000000020",
      "name": "IF Has Wave Lead",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        5520,
        0
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "https://cycapkswtucbucyegdsn.supabase.co/rest/v1/email_queue",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "SUPABASE_SERVICE_ROLE_KEY_PLACEHOLDER"
            },
            {
              "name": "Authorization",
              "value": "Bearer SUPABASE_SERVICE_ROLE_KEY_PLACEHOLDER"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "wave_lead_id",
              "value": "={{ 'eq.' + $('Extract Wave Lead').first().json.wave_lead_id }}"
            },
            {
              "name": "status",
              "value": "in.(queued,pending_prev,sending)"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{ \"status\": \"cancelled\" }",
        "options": {
          "timeout": 30000,
          "neverError": true
        }
      },
      "id": "src-0000-0000-0000-000000000018",
      "name": "Cancel Pending Emails",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5760,
        -60
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "https://cycapkswtucbucyegdsn.supabase.co/rest/v1/wave_leads",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "SUPABASE_SERVICE_ROLE_KEY_PLACEHOLDER"
            },
            {
              "name": "Authorization",
              "value": "Bearer SUPABASE_SERVICE_ROLE_KEY_PLACEHOLDER"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "id",
              "value": "={{ 'eq.' + $('Extract Wave Lead').first().json.wave_lead_id }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{ \"status\": \"replied\" }",
        "options": {
          "timeout": 30000,
          "neverError": true
        }
      },
      "id": "src-0000-0000-0000-000000000021",
      "name": "Mark Wave Lead Replied",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        6000,
        -60
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://cycapkswtucbucyegdsn.supabase.co/rest/v1/lead_replies",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "SUPABASE_SERVICE_ROLE_KEY_PLACEHOLDER"
            },
            {
              "name": "Authorization",
              "value": "Bearer SUPABASE_SERVICE_ROLE_KEY_PLACEHOLDER"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ lead_id: $('Extract Wave Lead').first().json.lead_id, wave_lead_id: $('Extract Wave Lead').first().json.wave_lead_id, salesman_id: $('Extract Wave Lead').first().json.salesman_id, from_email: $('Extract Wave Lead').first().json.from_email, subject: $('Extract Wave Lead').first().json.subject, body_preview: $('Extract Wave Lead').first().json.body_preview, received_at: $('Extract Wave Lead').first().json.received_at }) }}",
        "options": {
          "timeout": 30000,
          "neverError": true
        }
      },
      "id": "src-0000-0000-0000-000000000019",
      "name": "Insert Lead Reply",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        6240,
        -60
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "https://cycapkswtucbucyegdsn.supabase.co/rest/v1/leads",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "SUPABASE_SERVICE_ROLE_KEY_PLACEHOLDER"
            },
            {
              "name": "Authorization",
              "value": "Bearer SUPABASE_SERVICE_ROLE_KEY_PLACEHOLDER"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "id",
              "value": "={{ 'eq.' + $('Extract Wave Lead').first().json.lead_id }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{ \"status\": \"replied\" }",
        "options": {
          "timeout": 30000,
          "neverError": true
        }
      },
      "id": "src-0000-0000-0000-000000000022",
      "name": "Mark Lead Replied",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        6480,
        -60
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://cycapkswtucbucyegdsn.supabase.co/rest/v1/lead_replies",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "SUPABASE_SERVICE_ROLE_KEY_PLACEHOLDER"
            },
            {
              "name": "Authorization",
              "value": "Bearer SUPABASE_SERVICE_ROLE_KEY_PLACEHOLDER"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ lead_id: $json.lead_id, wave_lead_id: null, salesman_id: $json.salesman_id, from_email: $json.from_email, subject: $json.subject, body_preview: $json.body_preview, received_at: $json.received_at }) }}",
        "options": {
          "timeout": 30000,
          "neverError": true
        }
      },
      "id": "src-0000-0000-0000-000000000080",
      "name": "Insert Reply (No Wave Lead)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5760,
        120
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "https://cycapkswtucbucyegdsn.supabase.co/rest/v1/leads",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "SUPABASE_SERVICE_ROLE_KEY_PLACEHOLDER"
            },
            {
              "name": "Authorization",
              "value": "Bearer SUPABASE_SERVICE_ROLE_KEY_PLACEHOLDER"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "id",
              "value": "={{ 'eq.' + $json.lead_id }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{ \"status\": \"replied\" }",
        "options": {
          "timeout": 30000,
          "neverError": true
        }
      },
      "id": "src-0000-0000-0000-000000000081",
      "name": "Mark Lead Replied (No Wave)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        6000,
        120
      ]
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Fetch Emails",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Emails": {
      "main": [
        [
          {
            "node": "Split Email Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Email Items": {
      "main": [
        [
          {
            "node": "Stamp Salesman",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Stamp Salesman": {
      "main": [
        [
          {
            "node": "IF Has Emails",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Has Emails": {
      "main": [
        [
          {
            "node": "Loop Emails",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Loop Emails": {
      "main": [
        [
          {
            "node": "Get Email Message ID",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Get Email Message ID": {
      "main": [
        [
          {
            "node": "Check And Mark Processed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check And Mark Processed": {
      "main": [
        [
          {
            "node": "Parse Dedup Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Dedup Result": {
      "main": [
        [
          {
            "node": "IF Not Yet Processed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Not Yet Processed": {
      "main": [
        [
          {
            "node": "Extract Sender Domain",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Emails",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Sender Domain": {
      "main": [
        [
          {
            "node": "Match By Header",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Match By Header": {
      "main": [
        [
          {
            "node": "Check Header Match",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Header Match": {
      "main": [
        [
          {
            "node": "IF Header Match",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Header Match": {
      "main": [
        [
          {
            "node": "Merge Match Results",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IF Has Domain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Has Domain": {
      "main": [
        [
          {
            "node": "Match By Email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Unmatched Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Match By Email": {
      "main": [
        [
          {
            "node": "Check Email Match",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Email Match": {
      "main": [
        [
          {
            "node": "IF Email Match",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Email Match": {
      "main": [
        [
          {
            "node": "Merge Match Results",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Match By Email (Contacts)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Match By Email (Contacts)": {
      "main": [
        [
          {
            "node": "Check Contacts Match",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Contacts Match": {
      "main": [
        [
          {
            "node": "IF Contacts Match",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Contacts Match": {
      "main": [
        [
          {
            "node": "Merge Match Results",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Match Lead By Domain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Match Lead By Domain": {
      "main": [
        [
          {
            "node": "Check Domain Match",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Domain Match": {
      "main": [
        [
          {
            "node": "IF Domain Match",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Domain Match": {
      "main": [
        [
          {
            "node": "Merge Match Results",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Fuzzy Domain Candidates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fuzzy Domain Candidates": {
      "main": [
        [
          {
            "node": "Fuzzy Domain Match",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fuzzy Domain Match": {
      "main": [
        [
          {
            "node": "IF Fuzzy Match",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Fuzzy Match": {
      "main": [
        [
          {
            "node": "Merge Match Results",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Unmatched Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Unmatched Reply": {
      "main": [
        [
          {
            "node": "Loop Emails",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Match Results": {
      "main": [
        [
          {
            "node": "IF Not Already Replied",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Not Already Replied": {
      "main": [
        [
          {
            "node": "Get Wave Lead",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Emails",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Wave Lead": {
      "main": [
        [
          {
            "node": "Extract Wave Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Wave Lead": {
      "main": [
        [
          {
            "node": "IF Has Wave Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Has Wave Lead": {
      "main": [
        [
          {
            "node": "Cancel Pending Emails",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Insert Reply (No Wave Lead)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Reply (No Wave Lead)": {
      "main": [
        [
          {
            "node": "Mark Lead Replied (No Wave)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Lead Replied (No Wave)": {
      "main": [
        [
          {
            "node": "Loop Emails",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cancel Pending Emails": {
      "main": [
        [
          {
            "node": "Mark Wave Lead Replied",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Wave Lead Replied": {
      "main": [
        [
          {
            "node": "Insert Lead Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Lead Reply": {
      "main": [
        [
          {
            "node": "Mark Lead Replied",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Lead Replied": {
      "main": [
        [
          {
            "node": "Loop Emails",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": {
    "node:Salesman IMAP 1": {},
    "node:Salesman IMAP 2": {},
    "node:Salesman IMAP 3": {},
    "node:Salesman IMAP 4": {},
    "node:Salesman IMAP 5": {}
  },
  "meta": null,
  "pinData": {},
  "versionId": "2caad050-ea2b-40ca-aab5-3062ecc0f556",
  "activeVersionId": "2caad050-ea2b-40ca-aab5-3062ecc0f556",
  "versionCounter": 274,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-02-26T18:50:43.382Z",
      "createdAt": "2026-02-26T18:50:43.382Z",
      "role": "workflow:owner",
      "workflowId": "WjbYMqMXDxkjIssL",
      "projectId": "ItRFwvnQiyrKlVo7",
      "project": {
        "updatedAt": "2026-02-03T10:17:28.223Z",
        "createdAt": "2026-02-03T10:14:27.138Z",
        "id": "ItRFwvnQiyrKlVo7",
        "name": "Jan Mašata <jan.masata@meisat.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "7525d60a-3fe7-42fd-9b0f-103806e6d09f",
        "projectRelations": [
          {
            "updatedAt": "2026-02-03T10:14:27.138Z",
            "createdAt": "2026-02-03T10:14:27.138Z",
            "userId": "7525d60a-3fe7-42fd-9b0f-103806e6d09f",
            "projectId": "ItRFwvnQiyrKlVo7",
            "user": {
              "updatedAt": "2026-03-14T23:13:27.000Z",
              "createdAt": "2026-02-03T10:14:26.928Z",
              "id": "7525d60a-3fe7-42fd-9b0f-103806e6d09f",
              "email": "jan.masata@meisat.com",
              "firstName": "Jan",
              "lastName": "Mašata",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2026-02-03T10:17:58.386Z",
                "personalization_survey_n8n_version": "2.6.3",
                "companySize": "<20",
                "companyType": "systems-integrator",
                "role": "business-owner",
                "reportedSource": "other",
                "reportedSourceOther": "The Real World"
              },
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "VN0tbP6YeWQOaiHbxaFBK",
                "userActivatedAt": 1770124827014,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1771966870722
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-03-15",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-03-15T12:29:41.133Z",
    "createdAt": "2026-03-15T12:29:41.133Z",
    "versionId": "2caad050-ea2b-40ca-aab5-3062ecc0f556",
    "workflowId": "WjbYMqMXDxkjIssL",
    "nodes": [
      {
        "parameters": {},
        "id": "src-0000-0000-0000-000000000001",
        "name": "Execute Workflow Trigger",
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1,
        "position": [
          0,
          300
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "http://imap-proxy:3001/check-inbox",
          "sendBody": true,
          "specifyBody": "raw",
          "contentType": "raw",
          "rawContentType": "application/json",
          "body": "={{ JSON.stringify({ credential_name: $json.imap_credential_name, salesman_email: $json.email }) }}",
          "options": {
            "timeout": 60000,
            "neverError": true
          }
        },
        "id": "src-0000-0000-0000-000000000030",
        "name": "Fetch Emails",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "continueOnFail": true,
        "position": [
          240,
          300
        ]
      },
      {
        "parameters": {
          "mode": "runOnceForAllItems",
          "jsCode": "const resp = $input.first().json;\nif (!resp.success || !resp.emails || resp.emails.length === 0) {\n  return [{ json: { __proxy_empty: true } }];\n}\nreturn resp.emails.map(e => ({ json: e }));"
        },
        "id": "src-0000-0000-0000-000000000031",
        "name": "Split Email Items",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          480,
          300
        ]
      },
      {
        "parameters": {
          "mode": "runOnceForAllItems",
          "jsCode": "const salesmanId = $('Execute Workflow Trigger').first().json.id;\nconst salesmanTeamId = $('Execute Workflow Trigger').first().json.team_id;\nconst items = $input.all();\nconst emails = items.filter(i => i.json.error === undefined && !i.json.__proxy_empty && (i.json.from || i.json.subject)).map(i => ({\n  json: { ...i.json, salesman_id: salesmanId, team_id: salesmanTeamId, has_emails: true }\n}));\nif (emails.length === 0) return [{ json: { has_emails: false } }];\nreturn emails;"
        },
        "id": "src-0000-0000-0000-000000000008",
        "name": "Stamp Salesman",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          720,
          300
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {},
            "conditions": [
              {
                "id": "has-emails",
                "leftValue": "={{ $json.has_emails }}",
                "rightValue": true,
                "operator": {
                  "type": "boolean",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          }
        },
        "id": "src-0000-0000-0000-000000000009",
        "name": "IF Has Emails",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          960,
          300
        ]
      },
      {
        "parameters": {
          "batchSize": 1,
          "options": {
            "reset": true
          }
        },
        "id": "src-0000-0000-0000-000000000010",
        "name": "Loop Emails",
        "type": "n8n-nodes-base.splitInBatches",
        "typeVersion": 1,
        "position": [
          1200,
          300
        ]
      },
      {
        "parameters": {
          "mode": "runOnceForEachItem",
          "jsCode": "const email = $input.item.json;\nlet msgId = '';\nif (email.messageId) {\n  msgId = String(email.messageId).trim();\n} else if (email.headers && email.headers['message-id']) {\n  msgId = String(email.headers['message-id']).trim();\n}\nif (!msgId) {\n  msgId = (email.from || '') + '|' + (email.subject || '') + '|' + (email.date || '');\n}\nreturn { json: { ...email, __message_id: msgId } };"
        },
        "id": "src-0000-0000-0000-000000000023",
        "name": "Get Email Message ID",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1440,
          300
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://cycapkswtucbucyegdsn.supabase.co/rest/v1/rpc/check_and_mark_reply_processed",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "apikey",
                "value": "SUPABASE_SERVICE_ROLE_KEY_PLACEHOLDER"
              },
              {
                "name": "Authorization",
                "value": "Bearer SUPABASE_SERVICE_ROLE_KEY_PLACEHOLDER"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({ p_message_id: $json.__message_id, p_salesman_id: $json.salesman_id }) }}",
          "options": {
            "timeout": 30000,
            "neverError": true
          }
        },
        "id": "src-0000-0000-0000-000000000024",
        "name": "Check And Mark Processed",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1680,
          300
        ]
      },
      {
        "parameters": {
          "mode": "runOnceForEachItem",
          "jsCode": "const dedupResult = $input.item.json;\nconst emailData = $('Get Email Message ID').first().json;\nreturn { json: { ...emailData, __is_new_reply: dedupResult.is_new === true } };"
        },
        "id": "src-0000-0000-0000-000000000025",
        "name": "Parse Dedup Result",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1920,
          300
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {},
            "conditions": [
              {
                "id": "is-new-reply",
                "leftValue": "={{ $json.__is_new_reply }}",
                "rightValue": true,
                "operator": {
                  "type": "boolean",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          }
        },
        "id": "src-0000-0000-0000-000000000026",
        "name": "IF Not Yet Processed",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          2160,
          300
        ]
      },
      {
        "parameters": {
          "mode": "runOnceForEachItem",
          "jsCode": "const email = $input.item.json;\nconst fromStr = (email.from || '').toString();\nconst emailMatch = fromStr.match(/<?([a-zA-Z0-9._%+\\-]+@[a-zA-Z0-9.\\-]+\\.[a-zA-Z]{2,})>?/);\nconst fromEmail = emailMatch ? emailMatch[1].toLowerCase() : '';\nconst domainMatch = fromStr.match(/@([a-zA-Z0-9.\\-]+\\.[a-zA-Z]{2,})/);\nconst senderDomain = domainMatch ? domainMatch[1].toLowerCase() : '';\nconst bodyText = (email.text || email.textHtml || '').toString();\nconst inReplyTo = (email.headers && email.headers['in-reply-to']) ? String(email.headers['in-reply-to']).trim() : '';\nreturn { json: {\n  from_email: fromEmail || fromStr,\n  sender_domain: senderDomain,\n  subject: email.subject || '',\n  body_preview: bodyText.substring(0, 200),\n  received_at: email.date || new Date().toISOString(),\n  salesman_id: email.salesman_id,\n  in_reply_to: inReplyTo\n}};"
        },
        "id": "src-0000-0000-0000-000000000011",
        "name": "Extract Sender Domain",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2400,
          300
        ]
      },
      {
        "parameters": {
          "method": "GET",
          "url": "https://cycapkswtucbucyegdsn.supabase.co/rest/v1/sent_emails",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "apikey",
                "value": "SUPABASE_SERVICE_ROLE_KEY_PLACEHOLDER"
              },
              {
                "name": "Authorization",
                "value": "Bearer SUPABASE_SERVICE_ROLE_KEY_PLACEHOLDER"
              }
            ]
          },
          "sendQuery": true,
          "queryParameters": {
            "parameters": [
              {
                "name": "select",
                "value": "id,wave_lead_id,wave_leads!inner(lead_id,leads!inner(id,domain,status,is_active))"
              },
              {
                "name": "smtp_message_id",
                "value": "={{ 'eq.' + $json.in_reply_to }}"
              },
              {
                "name": "wave_leads.leads.is_active",
                "value": "eq.true"
              },
              {
                "name": "limit",
                "value": "1"
              }
            ]
          },
          "options": {
            "timeout": 30000,
            "neverError": true
          }
        },
        "id": "src-0000-0000-0000-000000000060",
        "name": "Match By Header",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          2640,
          120
        ],
        "alwaysOutputData": true
      },
      {
        "parameters": {
          "mode": "runOnceForAllItems",
          "jsCode": "const items = $input.all().map(i => i.json);\nconst prev = $('Extract Sender Domain').first().json;\nif (!prev.in_reply_to) {\n  return [{ json: { ...prev, lead_found: false, match_method: 'none' } }];\n}\nconst se = items.find(s => s && s.wave_leads && s.wave_leads.leads && s.wave_leads.leads.id);\nif (se) {\n  return [{ json: {\n    lead_found: true,\n    lead_id: se.wave_leads.leads.id,\n    lead_status: se.wave_leads.leads.status,\n    match_method: 'header',\n    from_email: prev.from_email,\n    sender_domain: prev.sender_domain,\n    subject: prev.subject,\n    body_preview: prev.body_preview,\n    received_at: prev.received_at,\n    salesman_id: prev.salesman_id\n  }}];\n}\nreturn [{ json: { ...prev, lead_found: false, match_method: 'none' } }];"
        },
        "id": "src-0000-0000-0000-000000000061",
        "name": "Check Header Match",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2880,
          120
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {},
            "conditions": [
              {
                "id": "header-match-found",
                "leftValue": "={{ $json.lead_found }}",
                "rightValue": true,
                "operator": {
                  "type": "boolean",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          }
        },
        "id": "src-0000-0000-0000-000000000062",
        "name": "IF Header Match",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          3120,
          120
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {},
            "conditions": [
              {
                "id": "has-domain",
                "leftValue": "={{ $json.sender_domain }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "notEquals"
                }
              }
            ],
            "combinator": "and"
          }
        },
        "id": "src-0000-0000-0000-000000000012",
        "name": "IF Has Domain",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          3360,
          300
        ]
      },
      {
        "parameters": {
          "method": "GET",
          "url": "https://cycapkswtucbucyegdsn.supabase.co/rest/v1/email_candidates",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "apikey",
                "value": "SUPABASE_SERVICE_ROLE_KEY_PLACEHOLDER"
              },
              {
                "name": "Authorization",
                "value": "Bearer SUPABASE_SERVICE_ROLE_KEY_PLACEHOLDER"
              }
            ]
          },
          "sendQuery": true,
          "queryParameters": {
            "parameters": [
              {
                "name": "select",
                "value": "id,email_address,jednatel_id,jednatels!inner(lead_id,leads!inner(id,domain,status,is_active))"
              },
              {
                "name": "email_address",
                "value": "={{ 'eq.' + $json.from_email }}"
              },
              {
                "name": "jednatels.leads.is_active",
                "value": "eq.true"
              },
              {
                "name": "limit",
                "value": "1"
              }
            ]
          },
          "options": {
            "timeout": 30000,
            "neverError": true
          }
        },
        "id": "src-0000-0000-0000-000000000040",
        "name": "Match By Email",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          3600,
          240
        ],
        "alwaysOutputData": true
      },
      {
        "parameters": {
          "mode": "runOnceForAllItems",
          "jsCode": "const items = $input.all().map(i => i.json);\nconst candidate = items.find(c => c && c.id && c.jednatels && c.jednatels.leads && c.jednatels.leads.id);\nconst prev = $('Extract Sender Domain').first().json;\nif (candidate) {\n  return [{ json: {\n    lead_found: true,\n    lead_id: candidate.jednatels.leads.id,\n    lead_status: candidate.jednatels.leads.status,\n    match_method: 'email',\n    from_email: prev.from_email,\n    sender_domain: prev.sender_domain,\n    subject: prev.subject,\n    body_preview: prev.body_preview,\n    received_at: prev.received_at,\n    salesman_id: prev.salesman_id\n  }}];\n}\nreturn [{ json: { ...prev, lead_found: false, match_method: 'none' } }];"
        },
        "id": "src-0000-0000-0000-000000000041",
        "name": "Check Email Match",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          3840,
          240
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {},
            "conditions": [
              {
                "id": "email-match-found",
                "leftValue": "={{ $json.lead_found }}",
                "rightValue": true,
                "operator": {
                  "type": "boolean",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          }
        },
        "id": "src-0000-0000-0000-000000000042",
        "name": "IF Email Match",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          4080,
          240
        ]
      },
      {
        "parameters": {
          "method": "GET",
          "url": "https://cycapkswtucbucyegdsn.supabase.co/rest/v1/email_candidates",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "apikey",
                "value": "SUPABASE_SERVICE_ROLE_KEY_PLACEHOLDER"
              },
              {
                "name": "Authorization",
                "value": "Bearer SUPABASE_SERVICE_ROLE_KEY_PLACEHOLDER"
              }
            ]
          },
          "sendQuery": true,
          "queryParameters": {
            "parameters": [
              {
                "name": "select",
                "value": "id,email_address,contact_id,contacts!inner(company_id,companies!inner(leads!inner(id,domain,status,is_active)))"
              },
              {
                "name": "email_address",
                "value": "={{ 'eq.' + $json.from_email }}"
              },
              {
                "name": "contacts.companies.leads.is_active",
                "value": "eq.true"
              },
              {
                "name": "limit",
                "value": "1"
              }
            ]
          },
          "options": {
            "timeout": 30000,
            "neverError": true
          }
        },
        "id": "src-0000-0000-0000-000000000070",
        "name": "Match By Email (Contacts)",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          4320,
          300
        ],
        "alwaysOutputData": true
      },
      {
        "parameters": {
          "mode": "runOnceForAllItems",
          "jsCode": "const items = $input.all().map(i => i.json);\nconst candidate = items.find(c => c && c.contacts && c.contacts.companies && c.contacts.companies.leads && c.contacts.companies.leads.length > 0);\nconst prev = $('Extract Sender Domain').first().json;\nif (candidate) {\n  const lead = candidate.contacts.companies.leads[0];\n  return [{ json: {\n    lead_found: true,\n    lead_id: lead.id,\n    lead_status: lead.status,\n    match_method: 'email_contact',\n    from_email: prev.from_email,\n    sender_domain: prev.sender_domain,\n    subject: prev.subject,\n    body_preview: prev.body_preview,\n    received_at: prev.received_at,\n    salesman_id: prev.salesman_id\n  }}];\n}\nreturn [{ json: { ...prev, lead_found: false, match_method: 'none' } }];"
        },
        "id": "src-0000-0000-0000-000000000071",
        "name": "Check Contacts Match",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          4560,
          300
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {},
            "conditions": [
              {
                "id": "contacts-match-found",
                "leftValue": "={{ $json.lead_found }}",
                "rightValue": true,
                "operator": {
                  "type": "boolean",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          }
        },
        "id": "src-0000-0000-0000-000000000072",
        "name": "IF Contacts Match",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          4800,
          300
        ]
      },
      {
        "parameters": {
          "method": "GET",
          "url": "https://cycapkswtucbucyegdsn.supabase.co/rest/v1/leads",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "apikey",
                "value": "SUPABASE_SERVICE_ROLE_KEY_PLACEHOLDER"
              },
              {
                "name": "Authorization",
                "value": "Bearer SUPABASE_SERVICE_ROLE_KEY_PLACEHOLDER"
              }
            ]
          },
          "sendQuery": true,
          "queryParameters": {
            "parameters": [
              {
                "name": "select",
                "value": "id,domain,status"
              },
              {
                "name": "domain",
                "value": "={{ 'eq.' + $json.sender_domain }}"
              },
              {
                "name": "is_active",
                "value": "eq.true"
              },
              {
                "name": "limit",
                "value": "1"
              }
            ]
          },
          "options": {
            "timeout": 30000,
            "neverError": true
          }
        },
        "id": "src-0000-0000-0000-000000000013",
        "name": "Match Lead By Domain",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          5040,
          420
        ],
        "alwaysOutputData": true
      },
      {
        "parameters": {
          "mode": "runOnceForAllItems",
          "jsCode": "const items = $input.all().map(i => i.json);\nconst lead = items.find(l => l && l.id) || null;\nconst prev = $('Extract Sender Domain').first().json;\nif (lead) {\n  return [{ json: {\n    lead_found: true,\n    lead_id: lead.id,\n    lead_status: lead.status,\n    match_method: 'domain',\n    from_email: prev.from_email,\n    sender_domain: prev.sender_domain,\n    subject: prev.subject,\n    body_preview: prev.body_preview,\n    received_at: prev.received_at,\n    salesman_id: prev.salesman_id\n  }}];\n}\nreturn [{ json: { ...prev, lead_found: false, match_method: 'none' } }];"
        },
        "id": "src-0000-0000-0000-000000000014",
        "name": "Check Domain Match",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          5280,
          420
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {},
            "conditions": [
              {
                "id": "domain-match-found",
                "leftValue": "={{ $json.lead_found }}",
                "rightValue": true,
                "operator": {
                  "type": "boolean",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          }
        },
        "id": "src-0000-0000-0000-000000000015",
        "name": "IF Domain Match",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          5520,
          420
        ]
      },
      {
        "parameters": {
          "method": "GET",
          "url": "https://cycapkswtucbucyegdsn.supabase.co/rest/v1/leads",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "apikey",
                "value": "SUPABASE_SERVICE_ROLE_KEY_PLACEHOLDER"
              },
              {
                "name": "Authorization",
                "value": "Bearer SUPABASE_SERVICE_ROLE_KEY_PLACEHOLDER"
              }
            ]
          },
          "sendQuery": true,
          "queryParameters": {
            "parameters": [
              {
                "name": "select",
                "value": "id,domain,status"
              },
              {
                "name": "domain",
                "value": "={{ 'ilike.%' + $json.sender_domain.replace(/\\.[a-z]{2,}$/i, '').replace(/^(www\\.)?/, '') + '%' }}"
              },
              {
                "name": "is_active",
                "value": "eq.true"
              },
              {
                "name": "limit",
                "value": "10"
              }
            ]
          },
          "options": {
            "timeout": 30000,
            "neverError": true
          }
        },
        "id": "src-0000-0000-0000-000000000043",
        "name": "Fuzzy Domain Candidates",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          5760,
          540
        ],
        "alwaysOutputData": true
      },
      {
        "parameters": {
          "mode": "runOnceForAllItems",
          "jsCode": "const candidates = $input.all().map(i => i.json).filter(l => l && l.id);\nconst prev = $('Extract Sender Domain').first().json;\nconst senderDomain = prev.sender_domain;\n\nif (candidates.length === 0) {\n  return [{ json: { ...prev, lead_found: false, match_method: 'none' } }];\n}\n\nfunction rootDomain(d) {\n  return (d || '').replace(/\\.[a-z]{2,}$/i, '').replace(/^(www\\.)?/, '').toLowerCase();\n}\n\nfunction levenshtein(a, b) {\n  const m = a.length, n = b.length;\n  const dp = Array.from({ length: m + 1 }, () => new Array(n + 1).fill(0));\n  for (let i = 0; i <= m; i++) dp[i][0] = i;\n  for (let j = 0; j <= n; j++) dp[0][j] = j;\n  for (let i = 1; i <= m; i++) {\n    for (let j = 1; j <= n; j++) {\n      dp[i][j] = Math.min(\n        dp[i-1][j] + 1,\n        dp[i][j-1] + 1,\n        dp[i-1][j-1] + (a[i-1] !== b[j-1] ? 1 : 0)\n      );\n    }\n  }\n  return dp[m][n];\n}\n\nconst senderRoot = rootDomain(senderDomain);\nlet bestMatch = null;\nlet bestScore = 0;\n\nfor (const lead of candidates) {\n  const leadDomain = (lead.domain || '').toLowerCase();\n  const leadRoot = rootDomain(leadDomain);\n  let score = 0;\n  if (senderDomain.includes(leadDomain) || leadDomain.includes(senderDomain)) score += 3;\n  if (senderRoot.includes(leadRoot) || leadRoot.includes(senderRoot)) score += 2;\n  if (senderRoot === leadRoot && senderRoot.length >= 3) score += 5;\n  const dist = levenshtein(senderDomain, leadDomain);\n  if (dist <= 2) score += (3 - dist);\n  if (score > bestScore) {\n    bestScore = score;\n    bestMatch = lead;\n  }\n}\n\nif (bestMatch && bestScore >= 2) {\n  return [{ json: {\n    lead_found: true,\n    lead_id: bestMatch.id,\n    lead_status: bestMatch.status,\n    match_method: 'fuzzy',\n    from_email: prev.from_email,\n    sender_domain: prev.sender_domain,\n    subject: prev.subject,\n    body_preview: prev.body_preview,\n    received_at: prev.received_at,\n    salesman_id: prev.salesman_id\n  }}];\n}\n\nreturn [{ json: { ...prev, lead_found: false, match_method: 'none' } }];"
        },
        "id": "src-0000-0000-0000-000000000044",
        "name": "Fuzzy Domain Match",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          6000,
          540
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {},
            "conditions": [
              {
                "id": "fuzzy-match-found",
                "leftValue": "={{ $json.lead_found }}",
                "rightValue": true,
                "operator": {
                  "type": "boolean",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          }
        },
        "id": "src-0000-0000-0000-000000000045",
        "name": "IF Fuzzy Match",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          6240,
          540
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://cycapkswtucbucyegdsn.supabase.co/rest/v1/unmatched_replies",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "apikey",
                "value": "SUPABASE_SERVICE_ROLE_KEY_PLACEHOLDER"
              },
              {
                "name": "Authorization",
                "value": "Bearer SUPABASE_SERVICE_ROLE_KEY_PLACEHOLDER"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({ from_email: $json.from_email, sender_domain: $json.sender_domain, subject: $json.subject, body_preview: $json.body_preview, salesman_id: $json.salesman_id, received_at: $json.received_at }) }}",
          "options": {
            "timeout": 30000,
            "neverError": true
          }
        },
        "id": "src-0000-0000-0000-000000000046",
        "name": "Log Unmatched Reply",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          6480,
          660
        ]
      },
      {
        "parameters": {
          "mode": "runOnceForEachItem",
          "jsCode": "return { json: $input.item.json };"
        },
        "id": "src-0000-0000-0000-000000000050",
        "name": "Merge Match Results",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          4800,
          0
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {},
            "conditions": [
              {
                "id": "not-already-replied",
                "leftValue": "={{ $json.lead_status }}",
                "rightValue": "replied",
                "operator": {
                  "type": "string",
                  "operation": "notEquals"
                }
              }
            ],
            "combinator": "and"
          }
        },
        "id": "src-0000-0000-0000-000000000082",
        "name": "IF Not Already Replied",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          4920,
          0
        ]
      },
      {
        "parameters": {
          "method": "GET",
          "url": "https://cycapkswtucbucyegdsn.supabase.co/rest/v1/wave_leads",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "apikey",
                "value": "SUPABASE_SERVICE_ROLE_KEY_PLACEHOLDER"
              },
              {
                "name": "Authorization",
                "value": "Bearer SUPABASE_SERVICE_ROLE_KEY_PLACEHOLDER"
              }
            ]
          },
          "sendQuery": true,
          "queryParameters": {
            "parameters": [
              {
                "name": "select",
                "value": "id,wave_id,lead_id,status"
              },
              {
                "name": "lead_id",
                "value": "={{ 'eq.' + $json.lead_id }}"
              },
              {
                "name": "status",
                "value": "not.in.(completed,replied)"
              }
            ]
          },
          "options": {
            "timeout": 30000,
            "neverError": true
          }
        },
        "id": "src-0000-0000-0000-000000000016",
        "name": "Get Wave Lead",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          5040,
          0
        ]
      },
      {
        "parameters": {
          "mode": "runOnceForAllItems",
          "jsCode": "const items = $input.all().map(i => i.json);\nconst waveLead = items.find(wl => wl && wl.id) || null;\nconst prev = $('Merge Match Results').first().json;\nreturn [{ json: {\n  ...prev,\n  wave_lead_id: waveLead ? waveLead.id : null,\n  wave_id: waveLead ? waveLead.wave_id : null,\n  has_wave_lead: !!waveLead\n}}];"
        },
        "id": "src-0000-0000-0000-000000000017",
        "name": "Extract Wave Lead",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          5280,
          0
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {},
            "conditions": [
              {
                "id": "has-wave-lead",
                "leftValue": "={{ $json.has_wave_lead }}",
                "rightValue": true,
                "operator": {
                  "type": "boolean",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          }
        },
        "id": "src-0000-0000-0000-000000000020",
        "name": "IF Has Wave Lead",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          5520,
          0
        ]
      },
      {
        "parameters": {
          "method": "PATCH",
          "url": "https://cycapkswtucbucyegdsn.supabase.co/rest/v1/email_queue",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "apikey",
                "value": "SUPABASE_SERVICE_ROLE_KEY_PLACEHOLDER"
              },
              {
                "name": "Authorization",
                "value": "Bearer SUPABASE_SERVICE_ROLE_KEY_PLACEHOLDER"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendQuery": true,
          "queryParameters": {
            "parameters": [
              {
                "name": "wave_lead_id",
                "value": "={{ 'eq.' + $json.wave_lead_id }}"
              },
              {
                "name": "status",
                "value": "in.(queued,pending_prev,sending)"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "{ \"status\": \"cancelled\" }",
          "options": {
            "timeout": 30000,
            "neverError": true
          }
        },
        "id": "src-0000-0000-0000-000000000018",
        "name": "Cancel Pending Emails",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          5760,
          -60
        ]
      },
      {
        "parameters": {
          "method": "PATCH",
          "url": "https://cycapkswtucbucyegdsn.supabase.co/rest/v1/wave_leads",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "apikey",
                "value": "SUPABASE_SERVICE_ROLE_KEY_PLACEHOLDER"
              },
              {
                "name": "Authorization",
                "value": "Bearer SUPABASE_SERVICE_ROLE_KEY_PLACEHOLDER"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendQuery": true,
          "queryParameters": {
            "parameters": [
              {
                "name": "id",
                "value": "={{ 'eq.' + $json.wave_lead_id }}"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "{ \"status\": \"replied\" }",
          "options": {
            "timeout": 30000,
            "neverError": true
          }
        },
        "id": "src-0000-0000-0000-000000000021",
        "name": "Mark Wave Lead Replied",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          6000,
          -60
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://cycapkswtucbucyegdsn.supabase.co/rest/v1/lead_replies",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "apikey",
                "value": "SUPABASE_SERVICE_ROLE_KEY_PLACEHOLDER"
              },
              {
                "name": "Authorization",
                "value": "Bearer SUPABASE_SERVICE_ROLE_KEY_PLACEHOLDER"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({ lead_id: $json.lead_id, wave_lead_id: $json.wave_lead_id, salesman_id: $json.salesman_id, from_email: $json.from_email, subject: $json.subject, body_preview: $json.body_preview, received_at: $json.received_at }) }}",
          "options": {
            "timeout": 30000,
            "neverError": true
          }
        },
        "id": "src-0000-0000-0000-000000000019",
        "name": "Insert Lead Reply",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          6240,
          -60
        ]
      },
      {
        "parameters": {
          "method": "PATCH",
          "url": "https://cycapkswtucbucyegdsn.supabase.co/rest/v1/leads",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "apikey",
                "value": "SUPABASE_SERVICE_ROLE_KEY_PLACEHOLDER"
              },
              {
                "name": "Authorization",
                "value": "Bearer SUPABASE_SERVICE_ROLE_KEY_PLACEHOLDER"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendQuery": true,
          "queryParameters": {
            "parameters": [
              {
                "name": "id",
                "value": "={{ 'eq.' + $json.lead_id }}"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "{ \"status\": \"replied\" }",
          "options": {
            "timeout": 30000,
            "neverError": true
          }
        },
        "id": "src-0000-0000-0000-000000000022",
        "name": "Mark Lead Replied",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          6480,
          -60
        ]
      }
    ],
    "connections": {
      "Execute Workflow Trigger": {
        "main": [
          [
            {
              "node": "Fetch Emails",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Fetch Emails": {
        "main": [
          [
            {
              "node": "Split Email Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Split Email Items": {
        "main": [
          [
            {
              "node": "Stamp Salesman",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Stamp Salesman": {
        "main": [
          [
            {
              "node": "IF Has Emails",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "IF Has Emails": {
        "main": [
          [
            {
              "node": "Loop Emails",
              "type": "main",
              "index": 0
            }
          ],
          []
        ]
      },
      "Loop Emails": {
        "main": [
          [
            {
              "node": "Get Email Message ID",
              "type": "main",
              "index": 0
            }
          ],
          []
        ]
      },
      "Get Email Message ID": {
        "main": [
          [
            {
              "node": "Check And Mark Processed",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Check And Mark Processed": {
        "main": [
          [
            {
              "node": "Parse Dedup Result",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Parse Dedup Result": {
        "main": [
          [
            {
              "node": "IF Not Yet Processed",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "IF Not Yet Processed": {
        "main": [
          [
            {
              "node": "Extract Sender Domain",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Loop Emails",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Extract Sender Domain": {
        "main": [
          [
            {
              "node": "Match By Header",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Match By Header": {
        "main": [
          [
            {
              "node": "Check Header Match",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Check Header Match": {
        "main": [
          [
            {
              "node": "IF Header Match",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "IF Header Match": {
        "main": [
          [
            {
              "node": "Merge Match Results",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "IF Has Domain",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "IF Has Domain": {
        "main": [
          [
            {
              "node": "Match By Email",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Log Unmatched Reply",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Match By Email": {
        "main": [
          [
            {
              "node": "Check Email Match",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Check Email Match": {
        "main": [
          [
            {
              "node": "IF Email Match",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "IF Email Match": {
        "main": [
          [
            {
              "node": "Merge Match Results",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Match By Email (Contacts)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Match By Email (Contacts)": {
        "main": [
          [
            {
              "node": "Check Contacts Match",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Check Contacts Match": {
        "main": [
          [
            {
              "node": "IF Contacts Match",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "IF Contacts Match": {
        "main": [
          [
            {
              "node": "Merge Match Results",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Match Lead By Domain",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Match Lead By Domain": {
        "main": [
          [
            {
              "node": "Check Domain Match",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Check Domain Match": {
        "main": [
          [
            {
              "node": "IF Domain Match",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "IF Domain Match": {
        "main": [
          [
            {
              "node": "Merge Match Results",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Fuzzy Domain Candidates",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Fuzzy Domain Candidates": {
        "main": [
          [
            {
              "node": "Fuzzy Domain Match",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Fuzzy Domain Match": {
        "main": [
          [
            {
              "node": "IF Fuzzy Match",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "IF Fuzzy Match": {
        "main": [
          [
            {
              "node": "Merge Match Results",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Log Unmatched Reply",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Log Unmatched Reply": {
        "main": [
          [
            {
              "node": "Loop Emails",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Merge Match Results": {
        "main": [
          [
            {
              "node": "IF Not Already Replied",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "IF Not Already Replied": {
        "main": [
          [
            {
              "node": "Get Wave Lead",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Loop Emails",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Wave Lead": {
        "main": [
          [
            {
              "node": "Extract Wave Lead",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Extract Wave Lead": {
        "main": [
          [
            {
              "node": "IF Has Wave Lead",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "IF Has Wave Lead": {
        "main": [
          [
            {
              "node": "Cancel Pending Emails",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Loop Emails",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Cancel Pending Emails": {
        "main": [
          [
            {
              "node": "Mark Wave Lead Replied",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Mark Wave Lead Replied": {
        "main": [
          [
            {
              "node": "Insert Lead Reply",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Insert Lead Reply": {
        "main": [
          [
            {
              "node": "Mark Lead Replied",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Mark Lead Replied": {
        "main": [
          [
            {
              "node": "Loop Emails",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Jan Mašata",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-03-15T12:29:49.822Z",
        "id": 651,
        "workflowId": "WjbYMqMXDxkjIssL",
        "versionId": "2caad050-ea2b-40ca-aab5-3062ecc0f556",
        "event": "activated",
        "userId": "7525d60a-3fe7-42fd-9b0f-103806e6d09f"
      }
    ]
  }
}