n8n-workflows/wf-verify-wave.json
{
  "name": "WF-verify-wave",
  "nodes": [
    {
      "id": "wfvw-0001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        300
      ],
      "webhookId": "wf-verify-wave",
      "parameters": {
        "path": "wf-verify-wave",
        "httpMethod": "POST",
        "responseMode": "onReceived",
        "options": {}
      }
    },
    {
      "id": "wfvw-0002",
      "name": "Get Wave Leads",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        460,
        300
      ],
      "parameters": {
        "method": "GET",
        "url": "https://cycapkswtucbucyegdsn.supabase.co/rest/v1/wave_leads",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "wave_id",
              "value": "={{ 'eq.' + $json.body.wave_id }}"
            },
            {
              "name": "select",
              "value": "lead_id"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "YOUR_SUPABASE_SERVICE_ROLE_KEY"
            },
            {
              "name": "Authorization",
              "value": "Bearer YOUR_SUPABASE_SERVICE_ROLE_KEY"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "wfvw-0003",
      "name": "Split Leads",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        680,
        300
      ],
      "parameters": {
        "jsCode": "const rows = $input.all().map(i => i.json);\nif (rows.length === 0) return [];\nconst filter = $('Webhook').first().json.body.lead_ids;\nconst filtered = (Array.isArray(filter) && filter.length > 0)\n  ? rows.filter(r => filter.includes(r.lead_id))\n  : rows;\nreturn filtered.map(row => ({ json: { lead_id: row.lead_id } }));"
      }
    },
    {
      "id": "wfvw-0004",
      "name": "Trigger WF4",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        900,
        300
      ],
      "parameters": {
        "method": "POST",
        "url": "http://72.62.53.244:32770/webhook/wf4-email-gen",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "keypair",
        "bodyParameters": {
          "parameters": [
            {
              "name": "lead_id",
              "value": "={{ $json.lead_id }}"
            }
          ]
        },
        "options": {}
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Get Wave Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Wave Leads": {
      "main": [
        [
          {
            "node": "Split Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Leads": {
      "main": [
        [
          {
            "node": "Trigger WF4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "pinData": {}
}