n8n-workflows/wf2-ares-lookup.json
{
  "name": "WF2: ARES IČO Lookup",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "wf2-ares",
        "responseMode": "onReceived",
        "options": {},
        "authentication": "headerAuth"
      },
      "id": "wf02-0000-0000-0000-000000000001",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        300
      ],
      "webhookId": "wf2-ares",
      "credentials": {
        "httpHeaderAuth": {
          "id": "Jvj4HIG7aE6YPKcJ",
          "name": "Webhook Header Auth"
        }
      }
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://cycapkswtucbucyegdsn.supabase.co/rest/v1/leads",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "SUPABASE_SERVICE_ROLE_KEY_PLACEHOLDER"
            },
            {
              "name": "Authorization",
              "value": "Bearer SUPABASE_SERVICE_ROLE_KEY_PLACEHOLDER"
            }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "select",
              "value": "*"
            },
            {
              "name": "id",
              "value": "={{ 'eq.' + $json.body.lead_id }}"
            },
            {
              "name": "limit",
              "value": "1"
            }
          ]
        },
        "options": {
          "timeout": 30000,
          "neverError": true
        }
      },
      "id": "wf02-0000-0000-0000-000000000002",
      "name": "Get Lead",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const lead = $input.item.json;\nif (!lead || !lead.id) throw new Error('Lead not found');\nreturn { json: { lead_id: lead.id,\n  company_id: lead.company_id || null, company_name: lead.company_name, website: lead.website, domain: lead.domain, ico: lead.ico || null } };"
      },
      "id": "wf02-0000-0000-0000-000000000003",
      "name": "Extract Lead",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://cycapkswtucbucyegdsn.supabase.co/rest/v1/enrichment_log",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "SUPABASE_SERVICE_ROLE_KEY_PLACEHOLDER"
            },
            {
              "name": "Authorization",
              "value": "Bearer SUPABASE_SERVICE_ROLE_KEY_PLACEHOLDER"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ lead_id: $json.lead_id, step: 'ares_lookup', status: 'started' }) }}",
        "options": {
          "timeout": 30000,
          "neverError": true
        }
      },
      "id": "wf02-0000-0000-0000-000000000004",
      "name": "Log Started",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        720,
        300
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "https://cycapkswtucbucyegdsn.supabase.co/rest/v1/leads",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "SUPABASE_SERVICE_ROLE_KEY_PLACEHOLDER"
            },
            {
              "name": "Authorization",
              "value": "Bearer SUPABASE_SERVICE_ROLE_KEY_PLACEHOLDER"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "id",
              "value": "={{ 'eq.' + $('Extract Lead').first().json.lead_id }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"status\": \"enriching\" }",
        "options": {
          "timeout": 30000,
          "neverError": true
        }
      },
      "id": "wf02-0000-0000-0000-000000000005",
      "name": "Set Status Enriching",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        960,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://ares.gov.cz/ekonomicke-subjekty-v-be/rest/ekonomicke-subjekty/vyhledat",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ obchodniJmeno: $('Extract Lead').first().json.company_name, pocet: 5 }) }}",
        "options": {
          "timeout": 30000,
          "fullResponse": true,
          "neverError": true
        }
      },
      "id": "wf02-0000-0000-0000-000000000006",
      "name": "ARES API Search",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1200,
        300
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const resp = $input.item.json;\nconst lead = $('Extract Lead').first().json;\nconst body = resp.body || resp;\nconst raw = body.ekonomickeSubjekty || [];\nif (raw.length === 0) {\n  if (lead.ico) return { json: { has_results: true, ico: lead.ico, lead_id: lead.lead_id,\n    company_id: lead.company_id, company_name: lead.company_name } };\n  return { json: { has_results: false, lead_id: lead.lead_id,\n    company_id: lead.company_id, company_name: lead.company_name, ico: null } };\n}\n// Find best match by company name\nconst companyName = (lead.company_name || '').toLowerCase();\nlet best = raw[0];\nlet bestScore = 0;\nfor (const r of raw) {\n  const name = (r.obchodniJmeno || '').toLowerCase();\n  let score = name === companyName ? 100 : name.includes(companyName) ? 50 : companyName.includes(name) ? 30 : 0;\n  if (score > bestScore) { bestScore = score; best = r; }\n}\n// Validate ico field — fall back to DB-stored ICO if ARES result has no ico\nconst rawIco = best.ico;\nif (!rawIco) {\n  if (lead.ico) return { json: { has_results: true, ico: lead.ico, lead_id: lead.lead_id,\n    company_id: lead.company_id, company_name: lead.company_name } };\n  return { json: { has_results: false, lead_id: lead.lead_id,\n    company_id: lead.company_id, company_name: lead.company_name, ico: null } };\n}\nconst ico = String(rawIco).padStart(8, '0');\nreturn { json: { has_results: true, ico, lead_id: lead.lead_id,\n    company_id: lead.company_id, company_name: lead.company_name } };"
      },
      "id": "wf02-0000-0000-0000-000000000007",
      "name": "Parse ARES Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1440,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {},
          "conditions": [
            {
              "id": "has-results",
              "leftValue": "={{ $json.has_results }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "wf02-0000-0000-0000-000000000008",
      "name": "IF Has Results",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1680,
        300
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// ICO already resolved by Parse ARES Response — just pass through\nconst d = $input.item.json;\nreturn { json: { ico: d.ico, lead_id: d.lead_id,\n    company_id: d.company_id, company_name: d.company_name } };"
      },
      "id": "wf02-0000-0000-0000-000000000009",
      "name": "Best Match ICO",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1920,
        180
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://ares.gov.cz/ekonomicke-subjekty-v-vr/rest/ekonomicke-subjekty/{{ $json.ico }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "timeout": 30000,
          "neverError": true
        }
      },
      "id": "wf02-0000-0000-0000-000000000015",
      "name": "ARES VR Lookup",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2160,
        180
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const vrResp = $input.item.json;\nconst lead = $('Best Match ICO').first().json;\nconst contacts = [];\nconst seen = new Set();\n\ntry {\n  const data = vrResp || {};\n  const organs = data.statutarniOrgan || [];\n  for (const organ of organs) {\n    const members = organ.clenove || [];\n    for (const member of members) {\n      const fo = member.fyzickaOsoba || {};\n      const jmeno = (fo.jmeno || '').trim();\n      const prijmeni = (fo.prijmeni || '').trim();\n      if (!jmeno || !prijmeni) continue;\n      const fullName = jmeno + ' ' + prijmeni;\n      const key = fullName.toLowerCase();\n      if (seen.has(key)) continue;\n      seen.add(key);\n      contacts.push({\n        company_id: lead.company_id,\n    company_id: lead.company_id,\n        full_name: fullName,\n        source: 'ares_vr'\n      });\n    }\n  }\n} catch(e) {\n  // VR returned error/404 — no contacts to extract\n}\n\nreturn { json: { contacts, company_id: lead.company_id,\n    company_id: lead.company_id, ico: lead.ico, company_name: lead.company_name } };"
      },
      "id": "wf02-0000-0000-0000-000000000016",
      "name": "Parse VR Contacts",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2400,
        180
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://cycapkswtucbucyegdsn.supabase.co/rest/v1/contacts",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "SUPABASE_SERVICE_ROLE_KEY_PLACEHOLDER"
            },
            {
              "name": "Authorization",
              "value": "Bearer SUPABASE_SERVICE_ROLE_KEY_PLACEHOLDER"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ $json.contacts.length > 0 ? JSON.stringify($json.contacts) : '[]' }}",
        "options": {
          "timeout": 30000,
          "neverError": true
        }
      },
      "id": "wf02-0000-0000-0000-000000000017",
      "name": "Insert ARES Contacts",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2640,
        180
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "https://cycapkswtucbucyegdsn.supabase.co/rest/v1/leads",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "SUPABASE_SERVICE_ROLE_KEY_PLACEHOLDER"
            },
            {
              "name": "Authorization",
              "value": "Bearer SUPABASE_SERVICE_ROLE_KEY_PLACEHOLDER"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "id",
              "value": "={{ 'eq.' + $('Best Match ICO').first().json.lead_id }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ ico: $('Best Match ICO').first().json.ico }) }}",
        "options": {
          "timeout": 30000,
          "neverError": true
        }
      },
      "id": "wf02-0000-0000-0000-000000000010",
      "name": "Update Lead ICO",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2880,
        180
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://cycapkswtucbucyegdsn.supabase.co/rest/v1/enrichment_log",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "SUPABASE_SERVICE_ROLE_KEY_PLACEHOLDER"
            },
            {
              "name": "Authorization",
              "value": "Bearer SUPABASE_SERVICE_ROLE_KEY_PLACEHOLDER"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ lead_id: $('Best Match ICO').first().json.lead_id, step: 'ares_lookup', status: 'success', completed_at: new Date().toISOString(), details: JSON.stringify({ ico: $('Best Match ICO').first().json.ico }) }) }}",
        "options": {
          "timeout": 30000,
          "neverError": true
        }
      },
      "id": "wf02-0000-0000-0000-000000000011",
      "name": "Log Success",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3120,
        180
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://72.62.53.244:32770/webhook/wf3-kurzy",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-Webhook-Secret",
              "value": "reWDUmcjSRPTv3k-0CKdoASO_KY7Z3ux"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ lead_id: $('Best Match ICO').first().json.lead_id, ico: $('Best Match ICO').first().json.ico }) }}",
        "options": {
          "timeout": 30000,
          "neverError": true
        }
      },
      "id": "wf02-0000-0000-0000-000000000012",
      "name": "Trigger WF3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3360,
        180
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Check if lead has a domain and contacts — if so, we can skip ARES/Kurzy and go to WF4\nconst lead = $('Extract Lead').first().json;\nconst hasDomain = !!(lead.domain && lead.domain.trim());\nreturn { json: { lead_id: lead.lead_id, company_id: lead.company_id, company_name: lead.company_name, domain: lead.domain, has_domain: hasDomain } };"
      },
      "id": "wf02-chd",
      "name": "Check Has Domain",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1920,
        480
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {},
          "conditions": [
            {
              "id": "has-domain",
              "leftValue": "={{ $json.has_domain }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "wf02-skip",
      "name": "IF Can Skip to WF4",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2160,
        480
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "https://cycapkswtucbucyegdsn.supabase.co/rest/v1/leads",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "SUPABASE_SERVICE_ROLE_KEY_PLACEHOLDER"
            },
            {
              "name": "Authorization",
              "value": "Bearer SUPABASE_SERVICE_ROLE_KEY_PLACEHOLDER"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "id",
              "value": "={{ 'eq.' + $json.lead_id }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ status: 'enriched', enrichment_error: null }) }}",
        "options": {
          "timeout": 30000,
          "neverError": true
        }
      },
      "id": "wf02-ses",
      "name": "Set Enriched Skip",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2400,
        420
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://cycapkswtucbucyegdsn.supabase.co/rest/v1/enrichment_log",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "SUPABASE_SERVICE_ROLE_KEY_PLACEHOLDER"
            },
            {
              "name": "Authorization",
              "value": "Bearer SUPABASE_SERVICE_ROLE_KEY_PLACEHOLDER"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ lead_id: $('Check Has Domain').first().json.lead_id, step: 'ares_lookup', status: 'skipped', completed_at: new Date().toISOString(), details: 'No IČO found, skipping to WF4 (has domain + contact)' }) }}",
        "options": {
          "timeout": 30000,
          "neverError": true
        }
      },
      "id": "wf02-lsa",
      "name": "Log Skip ARES",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2640,
        420
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://72.62.53.244:32770/webhook/wf4-email-gen",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-Webhook-Secret",
              "value": "reWDUmcjSRPTv3k-0CKdoASO_KY7Z3ux"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ lead_id: $('Check Has Domain').first().json.lead_id }) }}",
        "options": {
          "timeout": 30000,
          "neverError": true
        }
      },
      "id": "wf02-tw4",
      "name": "Trigger WF4 Direct",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2880,
        420
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "https://cycapkswtucbucyegdsn.supabase.co/rest/v1/leads",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "SUPABASE_SERVICE_ROLE_KEY_PLACEHOLDER"
            },
            {
              "name": "Authorization",
              "value": "Bearer SUPABASE_SERVICE_ROLE_KEY_PLACEHOLDER"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "id",
              "value": "={{ 'eq.' + $json.lead_id }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ status: 'failed', enrichment_error: 'ARES: IČO not found for company: ' + $json.company_name }) }}",
        "options": {
          "timeout": 30000,
          "neverError": true
        }
      },
      "id": "wf02-0000-0000-0000-000000000013",
      "name": "Set Failed No ICO",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2400,
        660
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://cycapkswtucbucyegdsn.supabase.co/rest/v1/enrichment_log",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "SUPABASE_SERVICE_ROLE_KEY_PLACEHOLDER"
            },
            {
              "name": "Authorization",
              "value": "Bearer SUPABASE_SERVICE_ROLE_KEY_PLACEHOLDER"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ lead_id: $json.lead_id, step: 'ares_lookup', status: 'failed', error_message: 'IČO not found in ARES results and no domain available', completed_at: new Date().toISOString() }) }}",
        "options": {
          "timeout": 30000,
          "neverError": true
        }
      },
      "id": "wf02-0000-0000-0000-000000000014",
      "name": "Log Failed",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2640,
        660
      ]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Get Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Lead": {
      "main": [
        [
          {
            "node": "Extract Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Lead": {
      "main": [
        [
          {
            "node": "Log Started",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Started": {
      "main": [
        [
          {
            "node": "Set Status Enriching",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Status Enriching": {
      "main": [
        [
          {
            "node": "ARES API Search",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ARES API Search": {
      "main": [
        [
          {
            "node": "Parse ARES Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse ARES Response": {
      "main": [
        [
          {
            "node": "IF Has Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Has Results": {
      "main": [
        [
          {
            "node": "Best Match ICO",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check Has Domain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Best Match ICO": {
      "main": [
        [
          {
            "node": "ARES VR Lookup",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ARES VR Lookup": {
      "main": [
        [
          {
            "node": "Parse VR Contacts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse VR Contacts": {
      "main": [
        [
          {
            "node": "Insert ARES Contacts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert ARES Contacts": {
      "main": [
        [
          {
            "node": "Update Lead ICO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Lead ICO": {
      "main": [
        [
          {
            "node": "Log Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Success": {
      "main": [
        [
          {
            "node": "Trigger WF3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Has Domain": {
      "main": [
        [
          {
            "node": "IF Can Skip to WF4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Can Skip to WF4": {
      "main": [
        [
          {
            "node": "Set Enriched Skip",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Failed No ICO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Enriched Skip": {
      "main": [
        [
          {
            "node": "Log Skip ARES",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Skip ARES": {
      "main": [
        [
          {
            "node": "Trigger WF4 Direct",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Failed No ICO": {
      "main": [
        [
          {
            "node": "Log Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {}
}