n8n-workflows/wf3-kurzy-scrape.json
{
  "name": "WF3: Kurzy.cz Jednatel Scraping",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "wf3-kurzy",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "wf03-0000-0000-0000-000000000001",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        300
      ],
      "webhookId": "wf3-kurzy"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "return { json: {\n  lead_id: $input.item.json.body.lead_id,\n  ico: $input.item.json.body.ico\n}};"
      },
      "id": "wf03-0000-0000-0000-000000000002",
      "name": "Extract Params",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://cycapkswtucbucyegdsn.supabase.co/rest/v1/enrichment_log",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "SUPABASE_SERVICE_ROLE_KEY_PLACEHOLDER"
            },
            {
              "name": "Authorization",
              "value": "Bearer SUPABASE_SERVICE_ROLE_KEY_PLACEHOLDER"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ lead_id: $json.lead_id, step: 'kurzy_scrape', status: 'started' }) }}",
        "options": {
          "timeout": 30000,
          "neverError": true
        }
      },
      "id": "wf03-0000-0000-0000-000000000003",
      "name": "Log Started",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        480,
        300
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://rejstrik-firem.kurzy.cz/{{ $('Extract Params').first().json.ico }}/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "text/html,application/xhtml+xml"
            },
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (compatible; bot)"
            }
          ]
        },
        "options": {
          "timeout": 30000,
          "fullResponse": true,
          "neverError": true,
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "id": "wf03-0000-0000-0000-000000000004",
      "name": "Fetch Kurzy Page",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        720,
        300
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const lead_id = $('Extract Params').first().json.lead_id;\nconst ico = $('Extract Params').first().json.ico;\n\nconst resp = $input.item.json;\nconst html = (resp.body || resp.data || '') + '';\n\nif (!html || html.length < 100) {\n  return { json: { lead_id, ico, jednatels: '[]', has_jednatels: false, parse_error: 'Empty or invalid HTML' } };\n}\n\nconst jednatels = [];\nconst seen = new Set();\n\n// Strategy 1: Kurzy.cz structure — <b>Jednatel</b> then <a href=\"/osoba/N/\">NAME</a>\nconst kurzyPattern = /<(?:b|strong)[^>]*>[\\s\\n]*Jednatel[\\s\\n]*<\\/(?:b|strong)>[\\s\\S]{0,600}?<a[^>]*href=\"\\/osoba\\/\\d+\\/[^\"]*\"[^>]*>([^<]+)/gi;\nlet m;\nwhile ((m = kurzyPattern.exec(html)) !== null) {\n  const raw = m[1].trim();\n  if (raw.length < 3 || raw.length > 100 || seen.has(raw.toLowerCase())) continue;\n  seen.add(raw.toLowerCase());\n  const cleaned = raw.replace(/^(Ing\\.|Mgr\\.|Bc\\.|JUDr\\.|MUDr\\.|PhDr\\.|Doc\\.|Prof\\.|RNDr\\.|DiS\\.)\\s*/gi, '').trim();\n  const parts = cleaned.split(/\\s+/);\n  if (parts.length < 2) continue;\n  jednatels.push({ full_name: raw, first_name: parts[0], last_name: parts[parts.length - 1] });\n}\n\n// Strategy 2: generic TD pattern\nif (jednatels.length === 0) {\n  const tdPattern = /<td[^>]*>[^<]*jednatel[^<]*<\\/td>\\s*<td[^>]*>([^<]+)<\\/td>/gi;\n  while ((m = tdPattern.exec(html)) !== null) {\n    const raw = m[1].trim();\n    if (raw.length < 3 || raw.length > 100 || seen.has(raw.toLowerCase())) continue;\n    seen.add(raw.toLowerCase());\n    const cleaned = raw.replace(/^(Ing\\.|Mgr\\.|Bc\\.|JUDr\\.|MUDr\\.|PhDr\\.)\\s*/gi, '').trim();\n    const parts = cleaned.split(/\\s+/);\n    if (parts.length < 2) continue;\n    jednatels.push({ full_name: raw, first_name: parts[0], last_name: parts[parts.length - 1] });\n  }\n}\n\n// Strategy 3: Statutární orgán section\nif (jednatels.length === 0) {\n  const sectionMatch = html.match(/Statutárn[íi] orgán[\\s\\S]*?(?=<h[1-4]|<\\/section)/i);\n  if (sectionMatch) {\n    const section = sectionMatch[0];\n    // Sub-strategy 3a: <strong>NAME</strong>\n    const namePattern = /<strong>([^<]{5,60})<\\/strong>/g;\n    while ((m = namePattern.exec(section)) !== null) {\n      const raw = m[1].trim();\n      if (seen.has(raw.toLowerCase())) continue;\n      seen.add(raw.toLowerCase());\n      const cleaned = raw.replace(/^(Ing\\.|Mgr\\.|Bc\\.|JUDr\\.|MUDr\\.)\\s*/gi, '').trim();\n      const parts = cleaned.split(/\\s+/);\n      if (parts.length < 2) continue;\n      jednatels.push({ full_name: raw, first_name: parts[0], last_name: parts[parts.length - 1] });\n    }\n    // Sub-strategy 3b: <a href=\"/osoba/N/\">NAME</a> within the section\n    if (jednatels.length === 0) {\n      const osobaPattern = /<a[^>]*href=\"\\/osoba\\/\\d+\\/[^\"]*\"[^>]*>([^<]+)<\\/a>/gi;\n      while ((m = osobaPattern.exec(section)) !== null) {\n        const raw = m[1].trim();\n        if (raw.length < 3 || raw.length > 100 || seen.has(raw.toLowerCase())) continue;\n        seen.add(raw.toLowerCase());\n        const cleaned = raw.replace(/^(Ing\\.|Mgr\\.|Bc\\.|JUDr\\.|MUDr\\.|PhDr\\.|Doc\\.|Prof\\.|RNDr\\.|DiS\\.)\\s*/gi, '').trim();\n        const parts = cleaned.split(/\\s+/);\n        if (parts.length < 2) continue;\n        jednatels.push({ full_name: raw, first_name: parts[0], last_name: parts[parts.length - 1] });\n      }\n    }\n  }\n}\n\nreturn { json: { lead_id, ico, jednatels: JSON.stringify(jednatels), has_jednatels: jednatels.length > 0 } };"
      },
      "id": "wf03-0000-0000-0000-000000000005",
      "name": "Parse Jednatels",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        960,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {},
          "conditions": [
            {
              "id": "has-jednatels",
              "leftValue": "={{ $json.has_jednatels }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "wf03-0000-0000-0000-000000000006",
      "name": "IF Has Jednatels",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1200,
        300
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const data = $input.first().json;\nconst jednatels = JSON.parse(data.jednatels || '[]');\n\n// Pass through names — DB trigger generates salutation automatically\nconst items = jednatels.map(j => ({\n  lead_id: data.lead_id,\n  full_name: j.full_name,\n  first_name: j.first_name,\n  last_name: j.last_name\n}));\n\nreturn { json: { lead_id: data.lead_id, ico: data.ico, jednatels_body: JSON.stringify(items), jednatels_count: items.length } };"
      },
      "id": "wf03-0000-0000-0000-000000000007",
      "name": "Generate Salutations",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1440,
        180
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "https://cycapkswtucbucyegdsn.supabase.co/rest/v1/leads",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "SUPABASE_SERVICE_ROLE_KEY_PLACEHOLDER"
            },
            {
              "name": "Authorization",
              "value": "Bearer SUPABASE_SERVICE_ROLE_KEY_PLACEHOLDER"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "id",
              "value": "={{ 'eq.' + $('Extract Params').first().json.lead_id }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"status\": \"enriched\" }",
        "options": {
          "timeout": 30000,
          "neverError": true
        }
      },
      "id": "wf03-0000-0000-0000-000000000010",
      "name": "Update Lead Enriched",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2160,
        180
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://cycapkswtucbucyegdsn.supabase.co/rest/v1/enrichment_log",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "SUPABASE_SERVICE_ROLE_KEY_PLACEHOLDER"
            },
            {
              "name": "Authorization",
              "value": "Bearer SUPABASE_SERVICE_ROLE_KEY_PLACEHOLDER"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ lead_id: $('Extract Params').first().json.lead_id, step: 'kurzy_scrape', status: 'success', completed_at: new Date().toISOString() }) }}",
        "options": {
          "timeout": 30000,
          "neverError": true
        }
      },
      "id": "wf03-0000-0000-0000-000000000011",
      "name": "Log Success",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2400,
        180
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "https://cycapkswtucbucyegdsn.supabase.co/rest/v1/leads",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "SUPABASE_SERVICE_ROLE_KEY_PLACEHOLDER"
            },
            {
              "name": "Authorization",
              "value": "Bearer SUPABASE_SERVICE_ROLE_KEY_PLACEHOLDER"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "id",
              "value": "={{ 'eq.' + $json.lead_id }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ status: 'failed', enrichment_error: 'Kurzy: no jednatels found for ICO ' + $json.ico }) }}",
        "options": {
          "timeout": 30000,
          "neverError": true
        }
      },
      "id": "wf03-0000-0000-0000-000000000013",
      "name": "Set Failed No Jednatels",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1440,
        420
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://cycapkswtucbucyegdsn.supabase.co/rest/v1/enrichment_log",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "SUPABASE_SERVICE_ROLE_KEY_PLACEHOLDER"
            },
            {
              "name": "Authorization",
              "value": "Bearer SUPABASE_SERVICE_ROLE_KEY_PLACEHOLDER"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ lead_id: $json.lead_id, step: 'kurzy_scrape', status: 'failed', error_message: 'No jednatels found on kurzy.cz for ICO ' + $json.ico, completed_at: new Date().toISOString() }) }}",
        "options": {
          "timeout": 30000,
          "neverError": true
        }
      },
      "id": "wf03-0000-0000-0000-000000000014",
      "name": "Log Failed",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1680,
        420
      ]
    },
    {
      "id": "wf03-trigger-wf4-0000000000001",
      "name": "Trigger WF4",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2640,
        180
      ],
      "parameters": {
        "method": "POST",
        "url": "http://72.62.53.244:32770/webhook/wf4-email-gen",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ lead_id: $('Extract Params').first().json.lead_id }) }}",
        "options": {
          "timeout": 30000,
          "neverError": true
        }
      }
    },
    {
      "id": "wf03-0000-0000-0000-000000000015",
      "name": "Insert Jednatels",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1660,
        180
      ],
      "parameters": {
        "method": "POST",
        "url": "https://cycapkswtucbucyegdsn.supabase.co/rest/v1/jednatels",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "SUPABASE_SERVICE_ROLE_KEY_PLACEHOLDER"
            },
            {
              "name": "Authorization",
              "value": "Bearer SUPABASE_SERVICE_ROLE_KEY_PLACEHOLDER"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "resolution=ignore-duplicates,return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.jednatels_body }}",
        "options": {
          "timeout": 30000,
          "neverError": true
        }
      }
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Extract Params",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Params": {
      "main": [
        [
          {
            "node": "Log Started",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Started": {
      "main": [
        [
          {
            "node": "Fetch Kurzy Page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Kurzy Page": {
      "main": [
        [
          {
            "node": "Parse Jednatels",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Jednatels": {
      "main": [
        [
          {
            "node": "IF Has Jednatels",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Has Jednatels": {
      "main": [
        [
          {
            "node": "Generate Salutations",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Failed No Jednatels",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Salutations": {
      "main": [
        [
          {
            "node": "Insert Jednatels",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Lead Enriched": {
      "main": [
        [
          {
            "node": "Log Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Failed No Jednatels": {
      "main": [
        [
          {
            "node": "Log Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Jednatels": {
      "main": [
        [
          {
            "node": "Update Lead Enriched",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Success": {
      "main": [
        [
          {
            "node": "Trigger WF4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {}
}