n8n-workflows/wf4-email-gen.json
{
  "name": "WF4: Email Candidate Generation",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "wf4-email-gen",
        "responseMode": "onReceived",
        "options": {},
        "authentication": "headerAuth"
      },
      "id": "wf04-0000-0000-0000-000000000001",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        300
      ],
      "webhookId": "wf4-email-gen",
      "credentials": {
        "httpHeaderAuth": {
          "id": "Jvj4HIG7aE6YPKcJ",
          "name": "Webhook Header Auth"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "return { json: { lead_id: $input.item.json.body.lead_id } };"
      },
      "id": "wf04-0000-0000-0000-000000000002",
      "name": "Extract Lead ID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://cycapkswtucbucyegdsn.supabase.co/rest/v1/leads",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "SUPABASE_SERVICE_ROLE_KEY_PLACEHOLDER"
            },
            {
              "name": "Authorization",
              "value": "Bearer SUPABASE_SERVICE_ROLE_KEY_PLACEHOLDER"
            }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "select",
              "value": "id,domain,website,company_name"
            },
            {
              "name": "id",
              "value": "={{ 'eq.' + $json.lead_id }}"
            },
            {
              "name": "limit",
              "value": "1"
            }
          ]
        },
        "options": {
          "timeout": 30000,
          "neverError": true
        }
      },
      "id": "wf04-0000-0000-0000-000000000003",
      "name": "Get Lead",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        480,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://cycapkswtucbucyegdsn.supabase.co/rest/v1/rpc/get_jednatels_for_lead",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "SUPABASE_SERVICE_ROLE_KEY_PLACEHOLDER"
            },
            {
              "name": "Authorization",
              "value": "Bearer SUPABASE_SERVICE_ROLE_KEY_PLACEHOLDER"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ p_lead_id: $('Extract Lead ID').first().json.lead_id }) }}",
        "options": {
          "timeout": 30000,
          "neverError": true
        }
      },
      "id": "wf04-0000-0000-0000-000000000004",
      "name": "Get Jednatels",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        720,
        300
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "function stripDiacritics(str) {\n  return str.normalize('NFD').replace(/[\\u0300-\\u036f]/g, '').toLowerCase().replace(/[^a-z0-9]/g, '');\n}\n\nconst lead      = $('Get Lead').first().json;\nconst rpcResult = $('Get Jednatels').first().json;\nconst jednatels = rpcResult.jednatels ?? [];\nconst lead_id   = $('Extract Lead ID').first().json.lead_id;\n\nlet domain = lead.domain || lead.website || '';\ndomain = domain.replace(/^https?:\\/\\/(www\\.)?/, '').replace(/\\/.*$/, '').trim();\nif (!domain) {\n  return { json: { lead_id, candidates_count: 0, no_candidates_reason: 'no_domain' } };\n}\n\nif (jednatels.length === 0) {\n  return { json: { lead_id, candidates_count: 0, no_candidates_reason: 'no_jednatels' } };\n}\n\nconst allCandidates = [];\nfor (const j of jednatels) {\n  const first = stripDiacritics(j.first_name || '');\n  const last  = stripDiacritics(j.last_name  || '');\n  if (!first || !last) continue;\n  const combos = [\n    `${first}.${last}`, `${last}.${first}`, `${first[0]}.${last}`,\n    last, first, `${first}${last}`, `${last}${first[0]}`,\n    `${first}.${last[0]}`, `${first[0]}.${last[0]}`, `${first[0]}${last}`,\n  ].map(local => ({ jednatel_id: j.id, email_address: `${local}@${domain}`, seznam_status: 'pending' }));\n  allCandidates.push(...combos);\n}\n\nreturn { json: {\n  lead_id,\n  candidates:       allCandidates,\n  candidates_count: allCandidates.length,\n  no_candidates_reason: null,\n} };"
      },
      "id": "wf04-0000-0000-0000-000000000006",
      "name": "Generate Combinations",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        960,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {},
          "conditions": [
            {
              "id": "has-candidates",
              "leftValue": "={{ $json.candidates_count }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "wf04-if-has-candidates",
      "name": "IF Has Candidates",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1200,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://cycapkswtucbucyegdsn.supabase.co/rest/v1/enrichment_log",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "SUPABASE_SERVICE_ROLE_KEY_PLACEHOLDER"
            },
            {
              "name": "Authorization",
              "value": "Bearer SUPABASE_SERVICE_ROLE_KEY_PLACEHOLDER"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ lead_id: $('Extract Lead ID').first().json.lead_id, step: 'email_generation', status: 'started' }) }}",
        "options": {
          "timeout": 30000,
          "neverError": true
        }
      },
      "id": "wf04-0000-0000-0000-000000000005",
      "name": "Log Started",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1440,
        120
      ]
    },
    {
      "id": "wf04-0000-0000-0000-000000000020",
      "name": "Insert Candidates",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1680,
        120
      ],
      "parameters": {
        "method": "POST",
        "url": "https://cycapkswtucbucyegdsn.supabase.co/rest/v1/email_candidates",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "SUPABASE_SERVICE_ROLE_KEY_PLACEHOLDER"
            },
            {
              "name": "Authorization",
              "value": "Bearer SUPABASE_SERVICE_ROLE_KEY_PLACEHOLDER"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "resolution=ignore-duplicates,return=minimal"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify($('Generate Combinations').first().json.candidates) }}",
        "options": {
          "timeout": 30000,
          "neverError": true
        }
      }
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "https://cycapkswtucbucyegdsn.supabase.co/rest/v1/leads",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "SUPABASE_SERVICE_ROLE_KEY_PLACEHOLDER"
            },
            {
              "name": "Authorization",
              "value": "Bearer SUPABASE_SERVICE_ROLE_KEY_PLACEHOLDER"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "id",
              "value": "={{ 'eq.' + $('Extract Lead ID').first().json.lead_id }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"status\": \"email_discovery\" }",
        "options": {
          "timeout": 30000,
          "neverError": true
        }
      },
      "id": "wf04-0000-0000-0000-000000000009",
      "name": "Update Lead Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1920,
        120
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://cycapkswtucbucyegdsn.supabase.co/rest/v1/enrichment_log",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "SUPABASE_SERVICE_ROLE_KEY_PLACEHOLDER"
            },
            {
              "name": "Authorization",
              "value": "Bearer SUPABASE_SERVICE_ROLE_KEY_PLACEHOLDER"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ lead_id: $('Extract Lead ID').first().json.lead_id, step: 'email_generation', status: 'success', completed_at: new Date().toISOString() }) }}",
        "options": {
          "timeout": 30000,
          "neverError": true
        }
      },
      "id": "wf04-0000-0000-0000-000000000010",
      "name": "Log Success",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2160,
        120
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://72.62.53.244:32770/webhook/wf5-seznam",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-Webhook-Secret",
              "value": "reWDUmcjSRPTv3k-0CKdoASO_KY7Z3ux"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ lead_id: $('Extract Lead ID').first().json.lead_id }) }}",
        "options": {
          "timeout": 30000,
          "neverError": true
        }
      },
      "id": "wf04-0000-0000-0000-000000000011",
      "name": "Trigger WF5",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2400,
        120
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "https://cycapkswtucbucyegdsn.supabase.co/rest/v1/leads",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "SUPABASE_SERVICE_ROLE_KEY_PLACEHOLDER"
            },
            {
              "name": "Authorization",
              "value": "Bearer SUPABASE_SERVICE_ROLE_KEY_PLACEHOLDER"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "id",
              "value": "={{ 'eq.' + $('Extract Lead ID').first().json.lead_id }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ status: 'failed', enrichment_error: 'WF4: ' + ($json.no_candidates_reason === 'no_domain' ? 'No domain set for lead' : 'No jednatels found — check WF3 scrape') }) }}",
        "options": {
          "timeout": 30000,
          "neverError": true
        }
      },
      "id": "wf04-set-lead-failed",
      "name": "Set Lead Failed",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1440,
        480
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://cycapkswtucbucyegdsn.supabase.co/rest/v1/enrichment_log",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "SUPABASE_SERVICE_ROLE_KEY_PLACEHOLDER"
            },
            {
              "name": "Authorization",
              "value": "Bearer SUPABASE_SERVICE_ROLE_KEY_PLACEHOLDER"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ lead_id: $('Extract Lead ID').first().json.lead_id, step: 'email_generation', status: 'failed', error_message: $json.no_candidates_reason, completed_at: new Date().toISOString() }) }}",
        "options": {
          "timeout": 30000,
          "neverError": true
        }
      },
      "id": "wf04-log-failed",
      "name": "Log Failed",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1680,
        480
      ]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Extract Lead ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Lead ID": {
      "main": [
        [
          {
            "node": "Get Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Lead": {
      "main": [
        [
          {
            "node": "Get Jednatels",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Jednatels": {
      "main": [
        [
          {
            "node": "Generate Combinations",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Combinations": {
      "main": [
        [
          {
            "node": "IF Has Candidates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Has Candidates": {
      "main": [
        [
          {
            "node": "Log Started",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Lead Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Started": {
      "main": [
        [
          {
            "node": "Insert Candidates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Candidates": {
      "main": [
        [
          {
            "node": "Update Lead Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Lead Status": {
      "main": [
        [
          {
            "node": "Log Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Success": {
      "main": [
        [
          {
            "node": "Trigger WF5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Lead Failed": {
      "main": [
        [
          {
            "node": "Log Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {}
}
