n8n-workflows/wf5-seznam-verify.json
{
  "name": "WF5: SMTP Verification",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "wf5-seznam",
        "responseMode": "onReceived",
        "options": {},
        "authentication": "headerAuth"
      },
      "id": "wf05c-n01",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 300],
      "webhookId": "wf5-seznam",
      "credentials": {
        "httpHeaderAuth": {
          "id": "Jvj4HIG7aE6YPKcJ",
          "name": "Webhook Header Auth"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "return { json: { lead_id: $input.item.json.body.lead_id } };"
      },
      "id": "wf05c-n02",
      "name": "Extract Lead ID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://cycapkswtucbucyegdsn.supabase.co/rest/v1/config",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "SUPABASE_SERVICE_ROLE_KEY_PLACEHOLDER" },
            { "name": "Authorization", "value": "Bearer SUPABASE_SERVICE_ROLE_KEY_PLACEHOLDER" }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "key", "value": "in.(seznam_from_email)" },
            { "name": "select", "value": "key,value" }
          ]
        },
        "options": { "timeout": 30000, "neverError": true }
      },
      "id": "wf05c-n03",
      "name": "Get Config",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [480, 300]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const rows = $input.all().map(i => i.json);\nconst get = k => rows.find(r => r.key === k)?.value ?? '';\nconst lead_id = $('Extract Lead ID').first().json.lead_id;\nreturn [{ json: { seznam_from_email: get('seznam_from_email'), lead_id } }];"
      },
      "id": "wf05c-n04",
      "name": "Extract Config",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [720, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://cycapkswtucbucyegdsn.supabase.co/rest/v1/leads",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "SUPABASE_SERVICE_ROLE_KEY_PLACEHOLDER" },
            { "name": "Authorization", "value": "Bearer SUPABASE_SERVICE_ROLE_KEY_PLACEHOLDER" }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "id", "value": "={{ 'eq.' + $json.lead_id }}" },
            { "name": "select", "value": "company_id" }
          ]
        },
        "options": { "timeout": 30000, "neverError": true }
      },
      "id": "wf05-get-lead-company",
      "name": "Get Lead Company",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [960, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://cycapkswtucbucyegdsn.supabase.co/rest/v1/rpc/get_contacts_for_lead",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "SUPABASE_SERVICE_ROLE_KEY_PLACEHOLDER" },
            { "name": "Authorization", "value": "Bearer SUPABASE_SERVICE_ROLE_KEY_PLACEHOLDER" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ p_lead_id: $('Extract Lead ID').first().json.lead_id }) }}",
        "options": { "timeout": 30000, "neverError": true }
      },
      "id": "wf05c-n05",
      "name": "Get Contacts",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1200, 300]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const rpcResult = $input.first().json;\nconst contacts = rpcResult.contacts ?? [];\nconst ids = contacts.map(c => c.id).filter(Boolean);\nconst cfg = $('Extract Config').first().json;\nreturn [{ json: { contact_ids: ids, seznam_from_email: cfg.seznam_from_email, lead_id: cfg.lead_id } }];"
      },
      "id": "wf05c-n06",
      "name": "Build Contact IDs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1440, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://cycapkswtucbucyegdsn.supabase.co/rest/v1/email_candidates",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "SUPABASE_SERVICE_ROLE_KEY_PLACEHOLDER" },
            { "name": "Authorization", "value": "Bearer SUPABASE_SERVICE_ROLE_KEY_PLACEHOLDER" }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "contact_id", "value": "={{ 'in.(' + $json.contact_ids.join(',') + ')' }}" },
            { "name": "seznam_status", "value": "eq.pending" },
            { "name": "select", "value": "id,email_address,contact_id" }
          ]
        },
        "options": { "timeout": 30000, "neverError": true }
      },
      "id": "wf05c-n07",
      "name": "Get Pending Cands",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1680, 300]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const cfg = $('Build Contact IDs').first().json;\nreturn $input.all().map(i => ({ json: {\n  ...i.json,\n  seznam_from_email: cfg.seznam_from_email,\n  lead_id: cfg.lead_id\n} }));"
      },
      "id": "wf05c-n08",
      "name": "Add Config",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1920, 300]
    },
    {
      "parameters": {
        "source": "database",
        "workflowId": "Aov5PfwmBDv51L0e",
        "mode": "runOnceForEachItem",
        "waitForCompletion": true
      },
      "id": "wf05c-nA",
      "name": "Call Email Verify",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [2160, 300]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const verify = $input.item.json;\nconst cand   = $('Add Config').item.json;\nconst valid  = verify.is_valid && !verify.is_disposable;\nreturn { json: {\n  id:             cand.id,\n  email_address:  cand.email_address,\n  lead_id:        cand.lead_id,\n  seznam_status:  valid ? 'verified' : 'bounced',\n  is_verified:    valid,\n  confidence_score: verify.confidence_score,\n  is_catch_all:   verify.is_catch_all\n}};"
      },
      "id": "wf05c-nB",
      "name": "Classify Candidates",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2400, 300]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "https://cycapkswtucbucyegdsn.supabase.co/rest/v1/email_candidates",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "SUPABASE_SERVICE_ROLE_KEY_PLACEHOLDER" },
            { "name": "Authorization", "value": "Bearer SUPABASE_SERVICE_ROLE_KEY_PLACEHOLDER" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "id", "value": "={{ 'eq.' + $json.id }}" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ seznam_status: $json.seznam_status, is_verified: $json.is_verified, is_catch_all: $json.is_catch_all || false, verified_at: new Date().toISOString() }) }}",
        "options": { "timeout": 30000, "neverError": true }
      },
      "id": "wf05c-nC",
      "name": "Update Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2640, 300]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const lead_id = $('Extract Lead ID').first().json.lead_id;\nreturn [{ json: { lead_id } }];"
      },
      "id": "wf05c-n40",
      "name": "Consolidate Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2880, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://cycapkswtucbucyegdsn.supabase.co/rest/v1/rpc/mark_jednatels_email_status",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "SUPABASE_SERVICE_ROLE_KEY_PLACEHOLDER" },
            { "name": "Authorization", "value": "Bearer SUPABASE_SERVICE_ROLE_KEY_PLACEHOLDER" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ p_lead_id: $json.lead_id }) }}",
        "options": { "timeout": 30000, "neverError": true }
      },
      "id": "wf05c-n41",
      "name": "Mark Jednatels",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [3120, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://72.62.53.244:32770/webhook/wf11-website-fallback",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" },
            { "name": "X-Webhook-Secret", "value": "reWDUmcjSRPTv3k-0CKdoASO_KY7Z3ux" }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ lead_id: $('Extract Lead ID').first().json.lead_id }) }}",
        "options": { "timeout": 30000, "neverError": true }
      },
      "id": "wf05c-n30",
      "name": "Trigger WF11",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [3360, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://cycapkswtucbucyegdsn.supabase.co/rest/v1/enrichment_log",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "SUPABASE_SERVICE_ROLE_KEY_PLACEHOLDER" },
            { "name": "Authorization", "value": "Bearer SUPABASE_SERVICE_ROLE_KEY_PLACEHOLDER" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ lead_id: $('Extract Lead ID').first().json.lead_id, step: 'smtp_verify', status: 'success', completed_at: new Date().toISOString() }) }}",
        "options": { "timeout": 30000, "neverError": true }
      },
      "id": "wf05c-n42",
      "name": "Log WF5 Complete",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [3600, 300]
    }
  ],
  "connections": {
    "Webhook Trigger": { "main": [[{ "node": "Extract Lead ID", "type": "main", "index": 0 }]] },
    "Extract Lead ID": { "main": [[{ "node": "Get Config", "type": "main", "index": 0 }]] },
    "Get Config": { "main": [[{ "node": "Extract Config", "type": "main", "index": 0 }]] },
    "Extract Config": { "main": [[{ "node": "Get Lead Company", "type": "main", "index": 0 }]] },
    "Get Lead Company": { "main": [[{ "node": "Get Contacts", "type": "main", "index": 0 }]] },
    "Get Contacts": { "main": [[{ "node": "Build Contact IDs", "type": "main", "index": 0 }]] },
    "Build Contact IDs": { "main": [[{ "node": "Get Pending Cands", "type": "main", "index": 0 }]] },
    "Get Pending Cands": { "main": [[{ "node": "Add Config", "type": "main", "index": 0 }]] },
    "Add Config": { "main": [[{ "node": "Call Email Verify", "type": "main", "index": 0 }]] },
    "Call Email Verify": { "main": [[{ "node": "Classify Candidates", "type": "main", "index": 0 }]] },
    "Classify Candidates": { "main": [[{ "node": "Update Status", "type": "main", "index": 0 }]] },
    "Update Status": { "main": [[{ "node": "Consolidate Results", "type": "main", "index": 0 }]] },
    "Consolidate Results": { "main": [[{ "node": "Mark Jednatels", "type": "main", "index": 0 }]] },
    "Mark Jednatels": { "main": [[{ "node": "Trigger WF11", "type": "main", "index": 0 }]] },
    "Trigger WF11": { "main": [[{ "node": "Log WF5 Complete", "type": "main", "index": 0 }]] },
    "Log WF5 Complete": { "main": [[]] }
  },
  "active": true,
  "settings": { "executionOrder": "v1" },
  "pinData": {}
}