n8n-workflows/wf5-seznam-verify.json
{
  "name": "WF5: Combined Seznam + QEV Verification",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "wf5-seznam",
        "responseMode": "onReceived",
        "options": {},
        "authentication": "headerAuth"
      },
      "id": "wf05c-n01",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        300
      ],
      "webhookId": "wf5-seznam",
      "credentials": {
        "httpHeaderAuth": {
          "id": "Jvj4HIG7aE6YPKcJ",
          "name": "Webhook Header Auth"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "return { json: { lead_id: $input.item.json.body.lead_id } };"
      },
      "id": "wf05c-n02",
      "name": "Extract Lead ID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://cycapkswtucbucyegdsn.supabase.co/rest/v1/config",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "SUPABASE_SERVICE_ROLE_KEY_PLACEHOLDER"
            },
            {
              "name": "Authorization",
              "value": "Bearer SUPABASE_SERVICE_ROLE_KEY_PLACEHOLDER"
            }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "key",
              "value": "in.(seznam_from_email,qev_api_key_1,qev_api_key_2,qev_api_key_3)"
            },
            {
              "name": "select",
              "value": "key,value"
            }
          ]
        },
        "options": {
          "timeout": 30000,
          "neverError": true
        }
      },
      "id": "wf05c-n03",
      "name": "Get Config",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        480,
        300
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const rows = $input.all().map(i => i.json);\nconst get = k => rows.find(r => r.key === k)?.value ?? '';\nconst lead_id = $('Extract Lead ID').first().json.lead_id;\nconst keys = ['qev_api_key_1','qev_api_key_2','qev_api_key_3']\n  .map(k => get(k)).filter(v => v && v !== 'PLACEHOLDER');\nconst qev_key = keys.length > 0 ? keys[Math.floor(Math.random()*keys.length)] : '';\nreturn [{ json: { seznam_from_email: get('seznam_from_email'), qev_key, lead_id } }];"
      },
      "id": "wf05c-n04",
      "name": "Extract Config",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        720,
        300
      ]
    },
    {
      "parameters": {
        "resource": "row",
        "operation": "getAll",
        "tableId": "contacts",
        "returnAll": true,
        "filters": {
          "conditions": [
            {
              "condition": "eq",
              "keyName": "lead_id",
              "keyValue": "={{ $('Extract Lead ID').first().json.lead_id }}"
            }
          ]
        }
      },
      "id": "wf05c-n05",
      "name": "Get Contacts",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        960,
        300
      ],
      "credentials": {
        "supabaseApi": {
          "id": "8fUZtVEFmt5y101f",
          "name": "Supabase"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const ids = $input.all().map(i => i.json.id).filter(Boolean);\nconst cfg = $('Extract Config').first().json;\nreturn [{ json: { contact_ids: ids, seznam_from_email: cfg.seznam_from_email, qev_key: cfg.qev_key, lead_id: cfg.lead_id } }];"
      },
      "id": "wf05c-n06",
      "name": "Build Contact IDs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1200,
        300
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://cycapkswtucbucyegdsn.supabase.co/rest/v1/email_candidates",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "SUPABASE_SERVICE_ROLE_KEY_PLACEHOLDER"
            },
            {
              "name": "Authorization",
              "value": "Bearer SUPABASE_SERVICE_ROLE_KEY_PLACEHOLDER"
            }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "contact_id",
              "value": "={{ 'in.(' + $json.contact_ids.join(',') + ')' }}"
            },
            {
              "name": "seznam_status",
              "value": "eq.pending"
            },
            {
              "name": "select",
              "value": "id,email_address,contact_id"
            }
          ]
        },
        "options": {
          "timeout": 30000,
          "neverError": true
        }
      },
      "id": "wf05c-n07",
      "name": "Get Pending Cands",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1440,
        300
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const cfg = $('Build Contact IDs').first().json;\nreturn $input.all().map(i => ({ json: {\n  ...i.json,\n  seznam_from_email: cfg.seznam_from_email,\n  qev_key: cfg.qev_key,\n  lead_id: cfg.lead_id\n} }));"
      },
      "id": "wf05c-n08",
      "name": "Add Config",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1680,
        300
      ]
    },
    {
      "parameters": {
        "source": "database",
        "workflowId": "Aov5PfwmBDv51L0e",
        "mode": "runOnceForEachItem",
        "waitForCompletion": true
      },
      "id": "wf05c-nA",
      "name": "Call Email Verify",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        1920,
        300
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// $input.item.json = sub-workflow result {is_valid, is_disposable, ...}\n// $('Add Config').item.json = original candidate {id, email_address, lead_id, ...}\nconst verify = $input.item.json;\nconst cand   = $('Add Config').item.json;\nconst valid  = verify.is_valid && !verify.is_disposable;\nreturn { json: {\n  id:             cand.id,\n  email_address:  cand.email_address,\n  lead_id:        cand.lead_id,\n  seznam_status:  valid ? 'likely_valid' : 'bounced',\n  confidence_score: verify.confidence_score,\n  is_catch_all:   verify.is_catch_all\n}};"
      },
      "id": "wf05c-nB",
      "name": "Classify Candidates",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2160,
        300
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "https://cycapkswtucbucyegdsn.supabase.co/rest/v1/email_candidates",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "SUPABASE_SERVICE_ROLE_KEY_PLACEHOLDER"
            },
            {
              "name": "Authorization",
              "value": "Bearer SUPABASE_SERVICE_ROLE_KEY_PLACEHOLDER"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "id",
              "value": "={{ 'eq.' + $json.id }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ seznam_status: $json.seznam_status, verified_at: new Date().toISOString() }) }}",
        "options": {
          "timeout": 30000,
          "neverError": true
        }
      },
      "id": "wf05c-nC",
      "name": "Update Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2400,
        300
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const all = $('Classify Candidates').all().map(i => i.json);\nconst lead_id = $('Extract Lead ID').first().json.lead_id;\nconst qev_key = $('Extract Config').first().json.qev_key;\nconst likely = all.filter(c => c.seznam_status === 'likely_valid');\nif (likely.length === 0) {\n  return [{ json: { _no_candidates: true, lead_id } }];\n}\nreturn likely.map(c => ({ json: { id: c.id, email_address: c.email_address, qev_key, lead_id } }));"
      },
      "id": "wf05c-n17",
      "name": "Prepare QEV Items",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3840,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {},
          "conditions": [
            {
              "id": "has-likely-valid",
              "leftValue": "={{ $json._no_candidates === true }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "wf05c-n18",
      "name": "IF Has Likely Valid",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        4080,
        300
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://api.quickemailverification.com/v1/verify",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "email",
              "value": "={{ $json.email_address }}"
            },
            {
              "name": "apikey",
              "value": "={{ $json.qev_key }}"
            }
          ]
        },
        "options": {
          "timeout": 30000,
          "neverError": true
        }
      },
      "id": "wf05c-n19",
      "name": "QEV API Call",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4320,
        180
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const resp = $input.item.json;\nconst cand = $('Prepare QEV Items').item.json;\nconst isValid = resp.result === 'valid' && resp.safe_to_send === true;\nreturn { json: {\n  id: cand.id,\n  email_address: cand.email_address,\n  lead_id: cand.lead_id,\n  qev_status: isValid ? 'valid' : (resp.result === 'invalid' ? 'invalid' : 'unknown'),\n  is_verified: isValid\n} };"
      },
      "id": "wf05c-n20",
      "name": "Evaluate QEV",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4560,
        180
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "https://cycapkswtucbucyegdsn.supabase.co/rest/v1/email_candidates",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "SUPABASE_SERVICE_ROLE_KEY_PLACEHOLDER"
            },
            {
              "name": "Authorization",
              "value": "Bearer SUPABASE_SERVICE_ROLE_KEY_PLACEHOLDER"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "id",
              "value": "={{ 'eq.' + $json.id }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ qev_status: $json.qev_status, is_verified: $json.is_verified, qev_checked_at: new Date().toISOString() }) }}",
        "options": {
          "timeout": 30000,
          "neverError": true
        }
      },
      "id": "wf05c-n21",
      "name": "Update Cand QEV",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4800,
        180
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const all = $('Evaluate QEV').all().map(i => i.json);\nconst lead_id = $('Extract Lead ID').first().json.lead_id;\nconst verified = all.filter(i => i.is_verified === true);\nreturn [{ json: { has_verified: verified.length > 0, verified_count: verified.length, lead_id } }];"
      },
      "id": "wf05c-n22",
      "name": "Consolidate QEV",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5040,
        180
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://cycapkswtucbucyegdsn.supabase.co/rest/v1/rpc/mark_contacts_email_status",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "SUPABASE_SERVICE_ROLE_KEY_PLACEHOLDER"
            },
            {
              "name": "Authorization",
              "value": "Bearer SUPABASE_SERVICE_ROLE_KEY_PLACEHOLDER"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ p_lead_id: $('Extract Lead ID').first().json.lead_id }) }}",
        "options": {
          "timeout": 30000,
          "neverError": true
        }
      },
      "id": "wf05c-n23",
      "name": "Mark Contacts",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5280,
        180
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {},
          "conditions": [
            {
              "id": "has-verified",
              "leftValue": "={{ $('Consolidate QEV').first().json.has_verified }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "wf05c-n24",
      "name": "IF Has Verified",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        5520,
        180
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "https://cycapkswtucbucyegdsn.supabase.co/rest/v1/leads",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "SUPABASE_SERVICE_ROLE_KEY_PLACEHOLDER"
            },
            {
              "name": "Authorization",
              "value": "Bearer SUPABASE_SERVICE_ROLE_KEY_PLACEHOLDER"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "id",
              "value": "={{ 'eq.' + $('Extract Lead ID').first().json.lead_id }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"status\": \"ready\" }",
        "options": {
          "timeout": 30000,
          "neverError": true
        }
      },
      "id": "wf05c-n25",
      "name": "Set Lead Ready",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5760,
        60
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://cycapkswtucbucyegdsn.supabase.co/rest/v1/enrichment_log",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "SUPABASE_SERVICE_ROLE_KEY_PLACEHOLDER"
            },
            {
              "name": "Authorization",
              "value": "Bearer SUPABASE_SERVICE_ROLE_KEY_PLACEHOLDER"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ lead_id: $('Extract Lead ID').first().json.lead_id, step: 'combined_verify', status: 'success', completed_at: new Date().toISOString(), details: JSON.stringify({ verified_count: $('Consolidate QEV').first().json.verified_count }) }) }}",
        "options": {
          "timeout": 30000,
          "neverError": true
        }
      },
      "id": "wf05c-n26",
      "name": "Log Success",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        6000,
        60
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "https://cycapkswtucbucyegdsn.supabase.co/rest/v1/leads",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "SUPABASE_SERVICE_ROLE_KEY_PLACEHOLDER"
            },
            {
              "name": "Authorization",
              "value": "Bearer SUPABASE_SERVICE_ROLE_KEY_PLACEHOLDER"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "id",
              "value": "={{ 'eq.' + $('Extract Lead ID').first().json.lead_id }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"status\": \"failed\", \"enrichment_error\": \"No verified emails found after QEV check\" }",
        "options": {
          "timeout": 30000,
          "neverError": true
        }
      },
      "id": "wf05c-n27",
      "name": "Set Lead Failed QEV",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5760,
        300
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "https://cycapkswtucbucyegdsn.supabase.co/rest/v1/leads",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "SUPABASE_SERVICE_ROLE_KEY_PLACEHOLDER"
            },
            {
              "name": "Authorization",
              "value": "Bearer SUPABASE_SERVICE_ROLE_KEY_PLACEHOLDER"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "id",
              "value": "={{ 'eq.' + $('Extract Lead ID').first().json.lead_id }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"status\": \"failed\", \"enrichment_error\": \"No emails passed bounce check\" }",
        "options": {
          "timeout": 30000,
          "neverError": true
        }
      },
      "id": "wf05c-n28",
      "name": "Set Lead Failed NoCands",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4560,
        600
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://72.62.53.244:32770/webhook/wf11-website-fallback",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-Webhook-Secret",
              "value": "reWDUmcjSRPTv3k-0CKdoASO_KY7Z3ux"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ lead_id: $json.lead_id }) }}",
        "options": {
          "timeout": 30000,
          "neverError": true
        }
      },
      "id": "wf05c-n30",
      "name": "Trigger WF11",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4320,
        480
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://cycapkswtucbucyegdsn.supabase.co/rest/v1/enrichment_log",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "SUPABASE_SERVICE_ROLE_KEY_PLACEHOLDER"
            },
            {
              "name": "Authorization",
              "value": "Bearer SUPABASE_SERVICE_ROLE_KEY_PLACEHOLDER"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ lead_id: $('Extract Lead ID').first().json.lead_id, step: 'combined_verify', status: 'failed', completed_at: new Date().toISOString() }) }}",
        "options": {
          "timeout": 30000,
          "neverError": true
        }
      },
      "id": "wf05c-n29",
      "name": "Log Failed",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        6000,
        390
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://cycapkswtucbucyegdsn.supabase.co/rest/v1/leads",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "SUPABASE_SERVICE_ROLE_KEY_PLACEHOLDER"
            },
            {
              "name": "Authorization",
              "value": "Bearer SUPABASE_SERVICE_ROLE_KEY_PLACEHOLDER"
            }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "id",
              "value": "={{ 'eq.' + $json.lead_id }}"
            },
            {
              "name": "select",
              "value": "company_id"
            }
          ]
        },
        "options": {
          "timeout": 30000,
          "neverError": true
        }
      },
      "id": "wf05-get-lead-company",
      "name": "Get Lead Company",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        300,
        300
      ]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Extract Lead ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Lead ID": {
      "main": [
        [
          {
            "node": "Get Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Config": {
      "main": [
        [
          {
            "node": "Extract Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Config": {
      "main": [
        [
          {
            "node": "Get Lead Company",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Contacts": {
      "main": [
        [
          {
            "node": "Build Contact IDs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Contact IDs": {
      "main": [
        [
          {
            "node": "Get Pending Cands",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Pending Cands": {
      "main": [
        [
          {
            "node": "Add Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Config": {
      "main": [
        [
          {
            "node": "Call Email Verify",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Email Verify": {
      "main": [
        [
          {
            "node": "Classify Candidates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Classify Candidates": {
      "main": [
        [
          {
            "node": "Update Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Status": {
      "main": [
        [
          {
            "node": "Prepare QEV Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare QEV Items": {
      "main": [
        [
          {
            "node": "IF Has Likely Valid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Has Likely Valid": {
      "main": [
        [
          {
            "node": "QEV API Call",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Trigger WF11",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger WF11": {
      "main": [
        []
      ]
    },
    "QEV API Call": {
      "main": [
        [
          {
            "node": "Evaluate QEV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evaluate QEV": {
      "main": [
        [
          {
            "node": "Update Cand QEV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Cand QEV": {
      "main": [
        [
          {
            "node": "Consolidate QEV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consolidate QEV": {
      "main": [
        [
          {
            "node": "Mark Contacts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Contacts": {
      "main": [
        [
          {
            "node": "IF Has Verified",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Has Verified": {
      "main": [
        [
          {
            "node": "Set Lead Ready",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Lead Failed QEV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Lead Ready": {
      "main": [
        [
          {
            "node": "Log Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Lead Failed QEV": {
      "main": [
        [
          {
            "node": "Log Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Success": {
      "main": [
        []
      ]
    },
    "Log Failed": {
      "main": [
        []
      ]
    },
    "Get Lead Company": {
      "main": [
        [
          {
            "node": "Get Contacts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {}
}