n8n-workflows/wf6-qev-verify.json
{
  "id": "EbKgRSRr2Poe34vH",
  "name": "WF6: QuickEmailVerification API",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "wf6-qev",
        "responseMode": "onReceived",
        "options": {},
        "authentication": "headerAuth"
      },
      "id": "wf06-0000-0000-0000-000000000001",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        300
      ],
      "webhookId": "wf6-qev",
      "credentials": {
        "httpHeaderAuth": {
          "id": "Jvj4HIG7aE6YPKcJ",
          "name": "Webhook Header Auth"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "return { json: { lead_id: $input.item.json.body.lead_id } };"
      },
      "id": "wf06-0000-0000-0000-000000000002",
      "name": "Extract Lead ID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://cycapkswtucbucyegdsn.supabase.co/rest/v1/email_candidates",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "SUPABASE_SERVICE_ROLE_KEY_PLACEHOLDER"
            },
            {
              "name": "Authorization",
              "value": "Bearer SUPABASE_SERVICE_ROLE_KEY_PLACEHOLDER"
            }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "select",
              "value": "id,email_address,jednatel_id,source,jednatels!inner(lead_id,first_name,last_name)"
            },
            {
              "name": "seznam_status",
              "value": "eq.likely_valid"
            },
            {
              "name": "jednatels.lead_id",
              "value": "={{ 'eq.' + $json.lead_id }}"
            }
          ]
        },
        "options": {
          "timeout": 30000,
          "neverError": true
        }
      },
      "id": "wf06-0000-0000-0000-000000000003",
      "name": "Get Likely Valid Candidates",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        480,
        300
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://cycapkswtucbucyegdsn.supabase.co/rest/v1/config",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "SUPABASE_SERVICE_ROLE_KEY_PLACEHOLDER"
            },
            {
              "name": "Authorization",
              "value": "Bearer SUPABASE_SERVICE_ROLE_KEY_PLACEHOLDER"
            }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "select",
              "value": "key,value"
            },
            {
              "name": "key",
              "value": "in.(qev_api_key_1,qev_api_key_2,qev_api_key_3)"
            }
          ]
        },
        "options": {
          "timeout": 30000,
          "neverError": true
        }
      },
      "id": "wf06-conf-qev-00000-000000000001",
      "name": "Get Config QEV",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        720,
        300
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const entries = $input.all().map(i => i.json);\nconst keys = ['qev_api_key_1', 'qev_api_key_2', 'qev_api_key_3']\n  .map(k => entries.find(e => e.key === k)?.value)\n  .filter(v => v && v !== 'PLACEHOLDER' && v.trim() !== '');\nif (keys.length === 0) return [{ json: { qev_key: '' } }];\nconst qev_key = keys[Math.floor(Math.random() * keys.length)];\nreturn [{ json: { qev_key } }];"
      },
      "id": "wf06-0000-0000-0000-000000000017",
      "name": "Pick QEV Key",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        960,
        120
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const candidates = $('Get Likely Valid Candidates').all().map(i => i.json);\nconst lead_id = $('Extract Lead ID').first().json.lead_id;\n\nconst filtered = candidates.filter(c => {\n  const j = c.jednatels;\n  return j && (Array.isArray(j) ? j.some(x => x.lead_id === lead_id) : j.lead_id === lead_id);\n});\n\nreturn filtered.map(c => ({\n  json: {\n    id:            c.id,\n    email_address: c.email_address,\n    lead_id,\n    jednatel_id:   c.jednatel_id,\n    source:        c.source || 'combo_generation',\n    first_name:    c.jednatels?.[0]?.first_name ?? (c.jednatels?.first_name ?? ''),\n    last_name:     c.jednatels?.[0]?.last_name  ?? (c.jednatels?.last_name  ?? ''),\n  }\n}));"
      },
      "id": "wf06-0000-0000-0000-000000000004",
      "name": "Flatten Candidates",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        960,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://cycapkswtucbucyegdsn.supabase.co/rest/v1/enrichment_log",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "SUPABASE_SERVICE_ROLE_KEY_PLACEHOLDER"
            },
            {
              "name": "Authorization",
              "value": "Bearer SUPABASE_SERVICE_ROLE_KEY_PLACEHOLDER"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ lead_id: $('Extract Lead ID').first().json.lead_id, step: 'qev_verify', status: 'started' }) }}",
        "options": {
          "timeout": 30000,
          "neverError": true
        }
      },
      "id": "wf06-0000-0000-0000-000000000005",
      "name": "Log Started",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1200,
        300
      ]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {
          "reset": true
        }
      },
      "id": "wf06-0000-0000-0000-000000000006",
      "name": "Loop Candidates",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 1,
      "position": [
        1440,
        300
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://api.quickemailverification.com/v1/verify",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "email",
              "value": "={{ $json.email_address }}"
            },
            {
              "name": "apikey",
              "value": "={{ $('Pick QEV Key').first().json.qev_key }}"
            }
          ]
        },
        "options": {
          "timeout": 30000,
          "neverError": true
        }
      },
      "id": "wf06-0000-0000-0000-000000000007",
      "name": "QEV API Call",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2040,
        120
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const result = $input.item.json;\nconst item   = $('Loop Candidates').item.json;\n\nconst catchAll   = result.catch_all  === 'true' || result.catch_all  === true;\nconst mxFound    = result.mx_found   === 'true' || result.mx_found   === true;\nconst disposable = result.disposable === 'true' || result.disposable === true;\n\n// Catch-all: domain is real + MX valid + not disposable, but specific mailbox unconfirmable\nconst isCatchAll = result.result === 'risky' && catchAll && mxFound && !disposable;\nconst isValid    = result.result === 'valid';   // only genuinely confirmed mailboxes\nconst isInvalid  = result.result === 'invalid';\n\n// Pattern rank label for catch-all confidence display\nlet catchAllConfidence = null;\nif (isCatchAll) {\n  function norm(s) { return (s||'').toLowerCase().replace(/[^a-z0-9]/g,''); }\n  const f  = norm(item.first_name), l = norm(item.last_name);\n  const fi = f[0]||'', li = l[0]||'';\n  const local = item.email_address.split('@')[0];\n  const rank =\n    local===`${f}.${l}`    ? '1 - first.last'  :\n    local===`${fi}.${l}`   ? '2 - f.last'       :\n    local===`${f}${l}`     ? '3 - firstlast'    :\n    local===`${l}.${f}`    ? '4 - last.first'   :\n    local===`${l}${fi}`    ? '5 - lastf'        :\n    local===f              ? '6 - first'        :\n    local===l              ? '7 - last'         :\n    local===`${fi}${l}`    ? '8 - flast'        :\n    local===`${f}.${li}`   ? '9 - first.l'      :\n    local===`${fi}.${li}`  ? '10 - f.l'         : '11 - other';\n  catchAllConfidence = rank;\n}\n\nreturn { json: {\n  id:                   item.id,\n  qev_status:           isValid ? 'valid' : isCatchAll ? 'catch_all' : isInvalid ? 'invalid' : 'unknown',\n  is_verified:          isValid,\n  is_catch_all:         isCatchAll,\n  catch_all_confidence: catchAllConfidence,\n  lead_id:              item.lead_id,\n}};"
      },
      "id": "wf06-0000-0000-0000-000000000008",
      "name": "Evaluate QEV Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2280,
        120
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "https://cycapkswtucbucyegdsn.supabase.co/rest/v1/email_candidates",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "SUPABASE_SERVICE_ROLE_KEY_PLACEHOLDER"
            },
            {
              "name": "Authorization",
              "value": "Bearer SUPABASE_SERVICE_ROLE_KEY_PLACEHOLDER"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "id",
              "value": "={{ 'eq.' + $json.id }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ qev_status: $json.qev_status, is_verified: $json.is_verified, is_catch_all: $json.is_catch_all, catch_all_confidence: $json.catch_all_confidence, qev_checked_at: new Date().toISOString() }) }}",
        "options": {
          "timeout": 30000,
          "neverError": true
        }
      },
      "id": "wf06-0000-0000-0000-000000000009",
      "name": "Update Candidate QEV",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2520,
        120
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {},
          "conditions": [
            {
              "id": "has-email-address",
              "leftValue": "={{ $json.email_address }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "wf06-guard-valid-item",
      "name": "IF Valid Candidate Item",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1620,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {},
          "conditions": [
            {
              "id": "source-smtp",
              "leftValue": "={{ $json.source }}",
              "rightValue": "smtp_verify",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "wf06-if-source-smtp",
      "name": "IF Source Is SMTP",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1800,
        300
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "https://cycapkswtucbucyegdsn.supabase.co/rest/v1/email_candidates",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "SUPABASE_SERVICE_ROLE_KEY_PLACEHOLDER"
            },
            {
              "name": "Authorization",
              "value": "Bearer SUPABASE_SERVICE_ROLE_KEY_PLACEHOLDER"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "id",
              "value": "={{ 'eq.' + $json.id }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ qev_status: 'valid', is_verified: true, is_catch_all: false, qev_checked_at: new Date().toISOString() }) }}",
        "options": {
          "timeout": 30000,
          "neverError": true
        }
      },
      "id": "wf06-auto-mark-smtp",
      "name": "Auto-Mark SMTP Verified",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2040,
        360
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://cycapkswtucbucyegdsn.supabase.co/rest/v1/email_candidates",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "SUPABASE_SERVICE_ROLE_KEY_PLACEHOLDER"
            },
            {
              "name": "Authorization",
              "value": "Bearer SUPABASE_SERVICE_ROLE_KEY_PLACEHOLDER"
            }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "select",
              "value": "id,is_verified,is_catch_all,qev_status,type,jednatels!inner(lead_id)"
            },
            {
              "name": "jednatels.lead_id",
              "value": "={{ 'eq.' + $('Extract Lead ID').first().json.lead_id }}"
            },
            {
              "name": "qev_checked_at",
              "value": "not.is.null"
            }
          ]
        },
        "options": {
          "timeout": 30000,
          "neverError": true
        }
      },
      "id": "wf06-fetch-qev-results",
      "name": "Fetch QEV Results For Lead",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1440,
        540
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const items   = $input.all().map(i => i.json);\nconst lead_id = $('Extract Lead ID').first().json.lead_id;\n\nconst mine = items.filter(c => {\n  const j = Array.isArray(c.jednatels) ? c.jednatels[0] : c.jednatels;\n  return j?.lead_id === lead_id;\n});\n\nconst hasVerified = mine.some(c => c.is_verified === true);\nconst hasCatchAll = mine.some(c => c.is_catch_all === true);\n\nconst bestVerified = mine.find(c => c.is_verified && c.type === 'jednatel')\n  || mine.find(c => c.is_verified);\nconst bestVerifiedType = bestVerified?.type || null;\n\nreturn [{ json: {\n  lead_id,\n  has_verified:             hasVerified,\n  has_catch_all_candidates: hasCatchAll,\n  best_verified_type:       bestVerifiedType,\n} }];"
      },
      "id": "wf06-compute-qev-outcome",
      "name": "Compute Lead QEV Outcome",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1680,
        540
      ]
    },
    {
      "id": "wf06-mark-jednatel-status",
      "name": "Mark Jednatels Email Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1920,
        540
      ],
      "parameters": {
        "method": "POST",
        "url": "https://cycapkswtucbucyegdsn.supabase.co/rest/v1/rpc/mark_jednatels_email_status",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "SUPABASE_SERVICE_ROLE_KEY_PLACEHOLDER"
            },
            {
              "name": "Authorization",
              "value": "Bearer SUPABASE_SERVICE_ROLE_KEY_PLACEHOLDER"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ p_lead_id: $('Extract Lead ID').first().json.lead_id }) }}",
        "options": {
          "timeout": 30000,
          "neverError": true
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {},
          "conditions": [
            {
              "id": "has-verified",
              "leftValue": "={{ $('Compute Lead QEV Outcome').first().json.has_verified }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "wf06-0000-0000-0000-000000000012",
      "name": "IF Has Verified",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2160,
        540
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "https://cycapkswtucbucyegdsn.supabase.co/rest/v1/leads",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "SUPABASE_SERVICE_ROLE_KEY_PLACEHOLDER"
            },
            {
              "name": "Authorization",
              "value": "Bearer SUPABASE_SERVICE_ROLE_KEY_PLACEHOLDER"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "id",
              "value": "={{ 'eq.' + $('Extract Lead ID').first().json.lead_id }}"
            }
          ]
        },
        "sendBody": true,
        "options": {
          "timeout": 30000,
          "neverError": true
        },
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ status: $('Compute Lead QEV Outcome').first().json.best_verified_type === 'jednatel' ? 'ready' : $('Compute Lead QEV Outcome').first().json.best_verified_type === 'generic' ? 'info_email' : 'staff_email' }) }}"
      },
      "id": "wf06-0000-0000-0000-000000000013",
      "name": "Set Lead Ready",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2400,
        420
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://cycapkswtucbucyegdsn.supabase.co/rest/v1/enrichment_log",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "SUPABASE_SERVICE_ROLE_KEY_PLACEHOLDER"
            },
            {
              "name": "Authorization",
              "value": "Bearer SUPABASE_SERVICE_ROLE_KEY_PLACEHOLDER"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ lead_id: $('Extract Lead ID').first().json.lead_id, step: 'qev_verify', status: 'success', completed_at: new Date().toISOString(), details: JSON.stringify({ outcome: 'ready' }) }) }}",
        "options": {
          "timeout": 30000,
          "neverError": true
        }
      },
      "id": "wf06-0000-0000-0000-000000000014",
      "name": "Log Success",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2640,
        420
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {},
          "conditions": [
            {
              "id": "has-catchall",
              "leftValue": "={{ $('Compute Lead QEV Outcome').first().json.has_catch_all_candidates }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "wf06-if-has-catchall",
      "name": "IF Has Catch-All",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2400,
        660
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "https://cycapkswtucbucyegdsn.supabase.co/rest/v1/leads",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "SUPABASE_SERVICE_ROLE_KEY_PLACEHOLDER"
            },
            {
              "name": "Authorization",
              "value": "Bearer SUPABASE_SERVICE_ROLE_KEY_PLACEHOLDER"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "id",
              "value": "={{ 'eq.' + $('Extract Lead ID').first().json.lead_id }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"status\": \"needs_review\" }",
        "options": {
          "timeout": 30000,
          "neverError": true
        }
      },
      "id": "wf06-set-needs-review",
      "name": "Set Lead Needs Review",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2640,
        540
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://cycapkswtucbucyegdsn.supabase.co/rest/v1/enrichment_log",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "SUPABASE_SERVICE_ROLE_KEY_PLACEHOLDER"
            },
            {
              "name": "Authorization",
              "value": "Bearer SUPABASE_SERVICE_ROLE_KEY_PLACEHOLDER"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ lead_id: $('Extract Lead ID').first().json.lead_id, step: 'qev_verify', status: 'needs_review', completed_at: new Date().toISOString(), details: JSON.stringify({ outcome: 'needs_review', reason: 'catch_all_domain' }) }) }}",
        "options": {
          "timeout": 30000,
          "neverError": true
        }
      },
      "id": "wf06-log-needs-review",
      "name": "Log Needs Review",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2880,
        540
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "https://cycapkswtucbucyegdsn.supabase.co/rest/v1/leads",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "SUPABASE_SERVICE_ROLE_KEY_PLACEHOLDER"
            },
            {
              "name": "Authorization",
              "value": "Bearer SUPABASE_SERVICE_ROLE_KEY_PLACEHOLDER"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "id",
              "value": "={{ 'eq.' + $('Extract Lead ID').first().json.lead_id }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"status\": \"failed\", \"enrichment_error\": \"No verified emails found after QEV check\" }",
        "options": {
          "timeout": 30000,
          "neverError": true
        }
      },
      "id": "wf06-0000-0000-0000-000000000015",
      "name": "Set Lead Failed",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2640,
        720
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://cycapkswtucbucyegdsn.supabase.co/rest/v1/enrichment_log",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "SUPABASE_SERVICE_ROLE_KEY_PLACEHOLDER"
            },
            {
              "name": "Authorization",
              "value": "Bearer SUPABASE_SERVICE_ROLE_KEY_PLACEHOLDER"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ lead_id: $('Extract Lead ID').first().json.lead_id, step: 'qev_verify', status: 'failed', error_message: 'No verified emails found', completed_at: new Date().toISOString() }) }}",
        "options": {
          "timeout": 30000,
          "neverError": true
        }
      },
      "id": "wf06-0000-0000-0000-000000000016",
      "name": "Log Failed",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2880,
        720
      ]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Extract Lead ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Lead ID": {
      "main": [
        [
          {
            "node": "Get Likely Valid Candidates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Likely Valid Candidates": {
      "main": [
        [
          {
            "node": "Get Config QEV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Config QEV": {
      "main": [
        [
          {
            "node": "Pick QEV Key",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pick QEV Key": {
      "main": [
        [
          {
            "node": "Flatten Candidates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Flatten Candidates": {
      "main": [
        [
          {
            "node": "Log Started",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Started": {
      "main": [
        [
          {
            "node": "Loop Candidates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Candidates": {
      "main": [
        [
          {
            "node": "IF Valid Candidate Item",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Fetch QEV Results For Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Valid Candidate Item": {
      "main": [
        [
          {
            "node": "IF Source Is SMTP",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "IF Source Is SMTP": {
      "main": [
        [
          {
            "node": "Auto-Mark SMTP Verified",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "QEV API Call",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Auto-Mark SMTP Verified": {
      "main": [
        [
          {
            "node": "Loop Candidates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "QEV API Call": {
      "main": [
        [
          {
            "node": "Evaluate QEV Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evaluate QEV Result": {
      "main": [
        [
          {
            "node": "Update Candidate QEV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Candidate QEV": {
      "main": [
        [
          {
            "node": "Loop Candidates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch QEV Results For Lead": {
      "main": [
        [
          {
            "node": "Compute Lead QEV Outcome",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compute Lead QEV Outcome": {
      "main": [
        [
          {
            "node": "Mark Jednatels Email Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Jednatels Email Status": {
      "main": [
        [
          {
            "node": "IF Has Verified",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Has Verified": {
      "main": [
        [
          {
            "node": "Set Lead Ready",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IF Has Catch-All",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Lead Ready": {
      "main": [
        [
          {
            "node": "Log Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Has Catch-All": {
      "main": [
        [
          {
            "node": "Set Lead Needs Review",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Lead Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Lead Needs Review": {
      "main": [
        [
          {
            "node": "Log Needs Review",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Lead Failed": {
      "main": [
        [
          {
            "node": "Log Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": null
}
