n8n-workflows/wf9-reply-detection.json
{
  "name": "WF9: Reply Detection",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "* * * * *"
            }
          ]
        }
      },
      "id": "wf09-0000-0000-0000-000000000001",
      "name": "Every 1 Minute",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [0, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://cycapkswtucbucyegdsn.supabase.co/rest/v1/email_accounts",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "SUPABASE_SERVICE_ROLE_KEY_PLACEHOLDER" },
            { "name": "Authorization", "value": "Bearer SUPABASE_SERVICE_ROLE_KEY_PLACEHOLDER" }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "select", "value": "id,name,email_address,team_id" },
            { "name": "is_active", "value": "eq.true" }
          ]
        },
        "options": {
          "timeout": 30000,
          "neverError": true
        }
      },
      "id": "wf09-0000-0000-0000-000000000002",
      "name": "Get Active Email Accounts",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const items = $input.all().map(i => i.json);\nif (!items.length || (!items[0].id && !items[0].name)) return [];\nreturn items.map(s => ({ json: s }));"
      },
      "id": "wf09-0000-0000-0000-000000000003",
      "name": "Flatten Email Accounts",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [480, 300]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {
          "reset": true
        }
      },
      "id": "wf09-0000-0000-0000-000000000004",
      "name": "Loop Email Accounts",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 1,
      "position": [720, 300]
    },
    {
      "parameters": {
        "source": "database",
        "workflowId": "WjbYMqMXDxkjIssL"
      },
      "id": "wf09-0000-0000-0000-000000000005",
      "name": "Check Replies For Account",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [960, 300]
    }
  ],
  "connections": {
    "Every 1 Minute": {
      "main": [[{ "node": "Get Active Email Accounts", "type": "main", "index": 0 }]]
    },
    "Get Active Email Accounts": {
      "main": [[{ "node": "Flatten Email Accounts", "type": "main", "index": 0 }]]
    },
    "Flatten Email Accounts": {
      "main": [[{ "node": "Loop Email Accounts", "type": "main", "index": 0 }]]
    },
    "Loop Email Accounts": {
      "main": [
        [{ "node": "Check Replies For Account", "type": "main", "index": 0 }],
        []
      ]
    },
    "Check Replies For Account": {
      "main": [[{ "node": "Loop Email Accounts", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {}
}
